{% extends "../base.html" %}
{% block title %}MyTask{% end %}

{% block body%}
    {% from datetime import date %}
    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active">
            <header>
                <div class="header_links">
                    <a href="/project/{{project.id}}/access">
                        <span class="link">成员邀请</span><br>
                        <span class="detail">
                            {{len(project.users)}}个项目成员
                        </span>
                    </a>
                    {% if project.repository == 1 %}
                    <a href="/git/{{project.team_id}}/{{project.repositoryName}}">
                        <span class="link">Git</span><br>
                        <span class="detail">最近没有修改</span>
                    </a>
                    {% end %}
                </div>
                <div >
                    <div class="collapsed_content">
                        <div class="position_reference">
                            <h1 class="field" >
                                {{project.title}}
                            </h1>
                        </div>
                        <div class="description field" style="border-color: transparent; width: auto;">
                            {{project.description}}
                        </div>
                    </div>
                </div>
            </header>

            <div class="sheet_body">
                <section class="topics">
                    <header class="has_buttons">
                        <h1>
                            <a href="/project/{{project.id}}/message">讨论</a>
                        </h1>
                        <a class="action_button button" href="/project/{{project.id}}/message/new">发起新讨论</a>
                    </header>
                    <table class="inbox">
                        <tbody>
                            {% for message in messages %}
                            <tr class="topic message" id="topic_{{message.id}}">
                                <td class="avatar">
                                    <a href="/project/{{project.id}}/message/{{message.id}}">
                                        <img class="avatar" height="30" src="/avatar/{{message.own.avatar}}" title="{{message.own.name}}" width="30">
                                    </a>
                                </td>
                                <td class="who">
                                    <a href="/project/{{project.id}}/message/{{message.id}}">{{message.own.name}}</a>
                                </td>
                                <td class="what">
                                    <a href="/project/{{project.id}}/message/{{message.id}}">
                                        <strong>{{message.title}}</strong>
                                        <span class="excerpt">{{message.comment_digest}}<span>
                                    </a>
                                </td>
                                <td class="when">
                                    <a href="/project/{{project.id}}/message/{{message.id}}">
                                        <time class="timeago" data-time="{{message.createTime}}" style="">{{message.createTime}}</time>
                                    </a>
                                </td>
                                <td class="comments">
                                    <a href="/project/{{project.id}}/message/{{message.id}}">
                                        <span class="pill comments circle">{{message.comment_num}}</span>
                                    </a>
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
{% end %}
