{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block body%}
    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active blank_slate inactive">
            <header>
                <h1><a data-restore-position="" href="/{{teamId}}/calendar">日历</a></h1>
            </header>
            <div class="panel sheet calendar_feeds has_sidebar" style="margin-left: 20px; margin-bottom: -20px;">
                <header>
                  <h1>通过iCalendar格式订阅到日历</h1>
                </header>

                <div class="sheet_body">
                    <p style="margin: 0 0 19px;">
                        使用Apple iCal, Google Calendar 或其它支持iCalendar格式的软件，就可以订阅下面的连接。
                        可是查看MyTask的日历，但是需要使用MyTask来添加或编辑事件。
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <th>全部日历</th>
                                <td>
                                    <a class="decorated" href="webcal://{{options.domain}}/{{teamId}}/calendar_feeds.ics?token={{ generateToken("all", user) }}&userId={{user.id}}">
                                    	订阅
                                    </a>
                                </td>
                            </tr>
                            {% for calendar in calendars %}
                            <tr>
                                <th><span class="swatch" style="background-color:#{{calendar.color}};"></span>{{calendar.title}}</th>
                                <td>
                                    <a class="decorated" href="webcal://{{options.domain}}/{{teamId}}/calendar_feeds/c{{calendar.id}}.ics?token={{ generateToken(calendar.title, user) }}&userId={{user.id}}">订阅</a>
                                </td>
                            </tr>
                            {% end %}

                            {% for project in projects %}
                            <tr>
                                <th><span class="swatch" style="background-color:#{{project.color}};"></span>{{project.title}}</th>
                                <td>
                                    <a class="decorated" href="webcal://{{options.domain}}/{{teamId}}/calendar_feeds/p{{project.id}}.ics?token={{ generateToken(project.title, user) }}&userId={{user.id}}">订阅</a>
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
                <aside>
                    <h5>注意事项:</h5>
                    <p>iCalendar 地址安全没有通过密码保证. 如果您的地址泄漏, 您就需要通过修改您的密码来使之前的地址失效。</p>
                </aside>
            </div>
        </div>
    </div>

</div>
{% end %}

{% block script %}
$(function(){
})

{% end %}
