BEGIN:VCALENDAR
CALSCALE:GREGORIAN
PRODID:-//mqshen//Next//EN
X-WR-CALNAME:{{project.title}} : MyTask的所有日历
X-WR-TIMEZONE:Asia/Shanghai
VERSION:2.0
{% for event in project.events %}
BEGIN:VEVENT
DTSTART;VALUE=DATE:{{event.startDate.strftime("%Y%m%d")}}
DTEND;VALUE=DATE:{{event.endDate.strftime("%Y%m%d")}}
SUMMARY:{{event.title}}
UID:51507660-bef6-4e0d-b033-46e054b5b00d
LAST-MODIFIED:{{event.createTime}}
SEQUENCE:{{event.id}}
END:VEVENT
{% end %}

{% for item in [item for item in todoItems if item.done != 1] %}
BEGIN:VEVENT
DTSTART;VALUE=DATE:{% if item.deadline %}{{item.deadline.strftime("%Y%m%d")}}{% end %}
DTEND;VALUE=DATE:{% if item.deadline %}{{item.deadline.strftime("%Y%m%d")}}{% end %}
SUMMARY:❏ {{item.description}}
UID:todo-{{item.id}}@mytask.com
LAST-MODIFIED:{{item.createTime}}
SEQUENCE:{{item.id}}
END:VEVENT
{% end %}

END:VCALENDAR
