{% extends "../base.html" %}

{% block title %}MyTask{% end %}
{% block headArea %}
<link rel="stylesheet" href="{{ static_url("css/graphs.css")}}" type="text/css"/>
{% end %}

{% block body%}
    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active blank_slate inactive">
            <header>
                <h1><a data-restore-position="" href="/{{teamId}}/project/{{project.id}}">{{project.title}}</a></h1>
            </header>
            <div class="panel sheet todo" style="margin-left: 20px; margin-bottom: -20px;">
                <header>
                    <p>
                    </p>
                </header>
                <div class="sheet_body" >
                    <div class="tabnav">
                        <ul class="tabnav-tabs" data-pjax="">
                            <li>
                                <a class="selected js-selected-navigation-item tabnav-tab" 
                                    href="graphs">讨论</a>
                            </li>
                            <li>
                                <a class="js-selected-navigation-item tabnav-tab" 
                                    href="todographs">任务</a>
                            </li>
                        </ul>
                    </div>
                    <h3 >讨论:</h3>
                    <div id= "message_graph" class="tint-box">
                    </div>
                    <div id="contributors" >
                        <ol class="contrib-data clearfix" id= "message_user_graph">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="{{ static_url("scripts/lib/d3.min.js")}}" type="text/javascript"></script>
{% end %}
{% block baseScript %} 
{% end %}

{% block includeScript %} 
{% end %}
