{% extends "../base.html" %}

{% block title %}MyTask{% end %}
{% block headArea %}
<link rel="stylesheet" href="{{ static_url("css/graphs.css")}}" type="text/css"/>
{% end %}

{% block body%}
    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active blank_slate inactive">
            <header>
                <h1><a data-restore-position="" href="/{{teamId}}/project/{{project.id}}">{{project.title}}</a></h1>
            </header>
            <div class="panel sheet todo" style="margin-left: 20px; margin-bottom: -20px;">
                <header>
                    <p>
                    </p>
                </header>
                <div class="sheet_body" >
                    <div class="tabnav">
                        <ul class="tabnav-tabs" data-pjax="">
                            <li>
                                <a class="js-selected-navigation-item tabnav-tab" 
                                    href="graphs">讨论</a>
                            </li>
                            <li>
                                <a class="selected js-selected-navigation-item tabnav-tab" 
                                    href="todographs">任务</a>
                            </li>
                        </ul>
                    </div>
                    <h3 >任务:</h3>
                    <div id= "message_graph" class="tint-box">
                    </div>
                    <div id="contributors" >
                        <ol class="contrib-data clearfix" id= "message_user_graph">
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% end %}
{% block baseScript %} 
{% end %}

{% block includeScript %} 
<script src="{{ static_url("scripts/lib/d3.min.js")}}" type="text/javascript"></script>
<script src="{{ static_url("scripts/lib/lily.core.js")}}" type="text/javascript"></script>
<script src="{{ static_url("scripts/lib/lily.format.js")}}" type="text/javascript"></script>
{% end %}
{% block script %}

function assignDefaultValues(data) {
	var dateInterval = d3.extent(data, function(d) { return d.add_date; });
	var startDate = dateInterval[0];
	var endDate = dateInterval[1];
	var index = 0;
	var newData = []
	for(var i = startDate; i.isBefore(endDate); i = i.nextDay()) {
		if(index >= data.length || i != data[index].add_date)
			newData.push({add_date: i, total_number:0});
		else
			++index
	}
	var sortByDate = function(a,b){ return a.add_date > b.add_date ? 1 : -1; };
	return data.concat(newData).sort(sortByDate);
}

function getData() {
    var parseDate = d3.time.format("%Y-%m-%d").parse;
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 885 - margin.left - margin.right,
        height = 170 - margin.top - margin.bottom;
    
    var x = d3.time.scale()
        .range([0, width]);
    
    var y = d3.scale.linear()
        .range([height, 0]);
    
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(d3.time.month, 1)
        .tickFormat(function(date) {
            if(date.getDate() == 1)
                return date.getMonth() + 1 + '月'
            return d3.time.format("%e")(date)
        });
    
    var yAxis = d3.svg.axis().scale(y).orient("left").tickSize(-width).tickPadding(6).ticks(3);
    
    var area = d3.svg.area()
        .x(function(d) { return x(d.add_date); })
        .y0(height)
        .y1(function(d) { console.log(d.total_number); return y(d.total_number); })
    
    var svg = d3.select("#message_graph").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("width", width )
        .attr("height", height )
    
    d3.json("tododata", function(error, responseData) {
        var data = responseData.projectData
        data.forEach(function(d) {
            d.add_date = parseDate(d.add_date);
        });
    	
    	data = assignDefaultValues(data);
    	
        x.domain(d3.extent(data, function(d) { return d.add_date; }));
        y.domain([0, d3.max(data, function(d) { return d.total_number; })]);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);
    
        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)

        svg.append("path")
            .datum(data)
            .attr("class", "area")
            .attr("d", area);
    });
}

function getUserData() {
    var parseDate = d3.time.format("%Y-%m-%d").parse;
    var margin = {top: 20, right: 10, bottom: 20, left: 20},
        width = 438 - margin.left - margin.right,
        height = 130 - margin.top - margin.bottom;
    
    var x = d3.time.scale()
        .range([0, width]);
    
    var y = d3.scale.linear()
        .range([height, 0]);
    
    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(d3.time.month, 1)
        .tickFormat(function(date) {
            if(date.getDate() == 1)
                return date.getMonth() + 1 + '月'
            return d3.time.format("%e")(date)
        });
        
    
    var yAxis = d3.svg.axis().scale(y).orient("left").tickSize(-width).tickPadding(6).ticks(3);
    
    var area = d3.svg.area()
        .x(function(d) { return x(d.add_date); })
        .y0(height)
        .y1(function(d) { return y(d.total_number); })
    
    d3.json("todouserdata", function(error, responseData) {
        var data = responseData.projectData
        var lastUserId = data[0].user_id
        var svg, userData = []; 
        data.forEach(function(d) {
            d.add_date = parseDate(d.add_date);
            if(d.user_id != lastUserId) {
            
            	
        		x.domain(d3.extent(userData, function(d) { return d.add_date; }));
                y.domain([0, d3.max(userData, function(d) { return d.total_number; })]);

                svg = d3.select("#message_user_graph")
                    .append("li")
                    .attr("class", "person")
                
                var user_info = svg.append("h3")
                user_info.append("img")
                    .attr("class", "avatar")
                    .attr("src", "/avatar/" + userData[0].own.avatar)

                user_info.append("span")
                    .attr("class", "rank")
                    .text("#1")

                user_info.append("a")
                    .attr("class", "aname")
                    .text(userData[0].own.name)

                svg = svg.append("svg")
                    .attr("class", "spark")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
			        .attr("width", width )
			        .attr("height", height );

                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
    
                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    
                    
    			userData = assignDefaultValues(userData);

                svg.append("path")
                    .datum(userData)
                    .attr("class", "area")
                    .attr("d", area);

                svg.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis);
                    

    
                userData = []
                lastUserId = d.user_id
            }
            userData.push(d)

        });
        
        x.domain(d3.extent(userData, function(d) { return d.add_date; }));
        y.domain([0, d3.max(userData, function(d) { return d.total_number; })]);

        svg = d3.select("#message_user_graph")
            .append("li")
            .attr("class", "person")
        
        var user_info = svg.append("h3")
        user_info.append("img")
            .attr("class", "avatar")
            .attr("src", "/avatar/" + userData[0].own.avatar)

        user_info.append("span")
            .attr("class", "rank")
            .text("#1")

        user_info.append("a")
            .attr("class", "aname")
            .text(userData[0].own.name)

        svg = svg.append("svg")
            .attr("class", "spark")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
	        .attr("width", width )
	        .attr("height", height );

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
		
    	userData = assignDefaultValues(userData);
    	
        svg.append("path")
            .datum(userData)
            .attr("class", "area")
            .attr("d", area);
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);
    
    });
}
getData();
getUserData();
{% end %}
