{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block body%}

    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active blank_slate inactive">
            <header>
                <h1><a data-restore-position="" href="/project/{{project.id}}">{{project.title}}</a></h1>
            </header>
            <div class="panel sheet message" style="margin-left: 20px; margin-bottom: -20px;">
                <header>
                    <h1 style="display: none">Post a new message</h1>
                </header>
                <div class="sheet_body">
                    <section class="perma">
                        <div id="message" class="has_tools editable_container" href="/project/{{project.id}}/message/{{message.id}}" data-target-class="new_message">
                            <article class="message">
                                <header>
                                    <h3 class="editable" name="title" id="message_title">{{message.title}}</h3>
                                    <p>
                                    由{{message.own.name}}在<time  class="timeago" data-time="{{message.createTime}}" style="">{{message.createTime}}</time>发布
                                    </p>
                                </header>
                                <a data-replace-stack="true" href="/people/{{message.own.id}}">
                                    <img class="avatar" 
                                        height="59" src="/avatar/{{message.own.avatar}}" title="{{message.own.name}}" width="59">
                                </a>
                                <div class="formatted_content editable" data-embeddable="" data-type="textarea" name="content">
                                    {{message.content}}
                                </div>
                                <div class="attachments editable" data-type="html">
                                    <div class="attachment_tool">
                                        <span class="prompt_graphic"></span>
                                        <div class="file_input_button">
                                            <span data-with-features="files_api">
                                            上传文件
                                            </span>
                                            <span class="file_input_container">
                                                <input name="attachment" type="file" multiple="" id="messageAttachment" tabindex="-1">
                                                <a class="decorated" data-behavior="local_file_picker" href="#" tabindex="-1">
                                                    选择要上传的文件
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <ul class="pending_attachments ui-sortable" id="attachments_container">
                                    </ul>
                                    <div id="attachments_for_message_11182345">
                                        <div class="image_grid_view">
                                            <table class="in_3_columns">
                                                <tbody id="image_attachment">
                                                    {% for i, attachment in enumerate([attachment for attachment in message.attachments 
                                                        if attachment.fileType == '0']) %}
                                                        {% if i % 3 == 0 %}
                                                        <tr class="images">
                                                        {% end %}
                                                        <td class="occupied">
                                                            <article class="image">
                                                                <figure class="thumbnail proportinal">
                                                                    <a href="/attachment/{{attachment.url}}" target="_blank">
                                                                        <div class="background" style="height: 174px; width: 262px;">
                                                                            <img alt="" class="thumbnail editable" src="/attachment/{{attachment.url}}" 
                                                                            data-type="image" data-content="{{attachment.url}}" data-width="{{attachment.width}}"
                                                                                data-append="#attachments_container" data-height="{{attachment.height}}">
                                                                        </div>
                                                                    </a>
                                                                </figure>
                                                            </article>
                                                        </td>
                                                        {% if i % 3 == 2 or i == len(message.attachments) - 1 %}
                                                        </tr>
                                                        {% end %}
                                                    {% end %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <ul class="file_attachments" id="file_attachments">
                                            {% for attachment in [attachment for attachment in message.attachments 
                                                if attachment.fileType != '0'] %}
                                                <li>
                                                    <a href="/attachment/{{attachment.url}}" target="_blank">
                                                        <img src="{{static_url("images/document.png")}}" class="editable"
                                                            data-type="file" data-content="{{attachment.url}}" 
                                                            data-append="#attachments_container" data-content="{{attachment.url}}">
                                                        <span>{{attachment.name}}</span>
                                                    </a>
                                                    <div class="tags">
                                                        <ul class="tags">
                                                        </ul>
                                                    </div>
                                                </li>
                                            {% end %}
                                        </ul>
                                    </div>
                                </div>
                            </article>
                            <aside class="tools">
                                <div class="tool" data-role="tool">
                                    <a class="edit" id="message_edit" data-url="/project/{{project.id}}/message/{{message.id}}" 
                                        data-toggle="editorTrigger" href="javascript:;">
                                        编辑
                                    </a>
                                </div>
                            </aside>
                        </div>
                                <footer>
                                    <section class="comments">
                                        <h4>讨论</h4>
                                        {% for comment in message.comments %}
                                        <article class="comment editable_container" 
                                            href="/project/{{project.id}}/message/{{message.id}}/comment/{{comment.id}}">
                                            <a href="/people/{comment.own.id}" class="editable" data-type="html">
                                                <img class="avatar" src="/avatar/{{comment.own.avatar}}">
                                            </a>
                                            <div class="formatted_content">
                                                <strong>
                                                    {{comment.own.name}}
                                                </strong>
                                                :
                                                <div class="editable" name="content" data-type="textarea">
                                                    {{comment.content}}
                                                </div>
                                            </div>
                                            <footer class="time">
                                            在<time class="timeago" data-time="{{comment.createTime}}" style="">{{comment.createTime}}</time>发布
                                            {% if currentUser.id == comment.own.id %}
                                                <span>
                                                    – 
                                                    <a class="edit" data-remote="true" href="javascript:;" data-toggle="editorTrigger"
                                                        data-content="{{comment.id}}">
                                                        编辑
                                                    </a> 或 
                                                    <a class="delete" data-confirm="Are you sure you want to delete this comment?" data-toggle="post" 
                                                        href="/project/{{comment.project_id}}/message/{{comment.message_id}}/comment/{{comment.id}}/trash" 
                                                        rel="nofollow">删除</a>
                                                </span>
                                            {% end %}
                                            </footer>
                                            <div class="attachments editable" data-type="html">
                                                <div class="attachment_tool">
                                                    <span class="prompt_graphic"></span>
                                                    <div class="file_input_button">
                                                        <span data-with-features="files_api">
                                                        上传文件
                                                        </span>
                                                        <span class="file_input_container">
                                                            <input name="attachment" type="file" multiple="" id="messageAttachment" 
                                                            data-content="{{comment.id}}" tabindex="-1">
                                                            <a class="decorated" data-behavior="local_file_picker" href="#" tabindex="-1">
                                                                选择要上传的文件
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <ul class="pending_attachments ui-sortable" id="attachments_container">
                                                </ul>
                                                <div id="attachments_for_message_11182345">
                                                    <div class="image_grid_view">
                                                        <table class="in_3_columns">
                                                            <tbody id="image_attachment{{comment.id}}">
                                                                {% for i, attachment in enumerate([attachment for attachment in comment.attachments 
                                                                    if attachment.fileType == '0']) %}
                                                                    {% if i % 3 == 0 %}
                                                                    <tr class="images">
                                                                    {% end %}
                                                                    <td class="occupied">
                                                                        <article class="image">
                                                                            <figure class="thumbnail proportinal">
                                                                                <a href="/attachment/{{attachment.url}}" target="_blank">
                                                                                    <div class="background" style="height: 174px; width: 262px;">
                                                                                        <img alt="" class="thumbnail editable" src="/attachment/{{attachment.url}}" 
                                                                                        data-type="image" data-content="{{attachment.url}}" data-width="{{attachment.width}}"
                                                                                            data-append="#attachments_container" data-height="{{attachment.height}}">
                                                                                    </div>
                                                                                </a>
                                                                            </figure>
                                                                        </article>
                                                                    </td>
                                                                    {% if i % 3 == 2 or i == len(comment.attachments) - 1 %}
                                                                    </tr>
                                                                    {% end %}
                                                                {% end %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <ul class="file_attachments" id="file_attachments{{comment.id}}">
                                                        {% for attachment in [attachment for attachment in comment.attachments 
                                                            if attachment.fileType != '0'] %}
                                                            <li>
                                                                <a href="/attachment/{{attachment.url}}" target="_blank">
                                                                    <img src="{{static_url("images/document.png")}}" class="editable"
                                                                        data-type="file" data-content="{{attachment.url}}" 
                                                                        data-append="#attachments_container" data-content="{{attachment.url}}">
                                                                    <span>{{attachment.name}}</span>
                                                                </a>
                                                                <div class="tags">
                                                                    <ul class="tags">
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        {% end %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                        {% end %}
                                        <article class="comment editable_container" id="new_comment_container"
                                            href="/project/{{project.id}}/message/{{message.id}}/comment" data-target-class="new_comment">
                                            <a href="/people/{comment.own.id}" class="editable" data-type="html">
                                                <img class="avatar" src="/avatar/{{currentUser.avatar}}">
                                            </a>
                                            <div class="collapsed_content">
                                                <header class="new_comment_entry no_shadow">
                                                    <div class="prompt" data-content="new" data-toggle="editorTrigger" 
                                                        id="trigger_new_comment">
                                                        发表评论
                                                    </div>
                                                    <div class="editable" name="content" data-type="textarea" id="add_comment_content">
                                                    </div>
                                                </header>
                                            </div>
                                            <div class="attachments editable" data-type="html">
                                                <div class="attachment_tool">
                                                    <span class="prompt_graphic"></span>
                                                    <div class="file_input_button">
                                                        <span data-with-features="files_api">
                                                        上传文件
                                                        </span>
                                                        <span class="file_input_container">
                                                            <input name="attachment" type="file" multiple="" id="messageAttachment" 
                                                            data-content="_new" tabindex="-1">
                                                            <a class="decorated" data-behavior="local_file_picker" href="#" tabindex="-1">
                                                                选择要上传的文件
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <ul class="pending_attachments ui-sortable" id="attachments_container">
                                                </ul>
                                                <div id="attachments_for_message_11182345">
                                                    <div class="image_grid_view">
                                                        <table class="in_3_columns">
                                                            <tbody id="image_attachment_new">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <ul class="file_attachments" id="file_attachments_new">
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </section>
                                </footer>
                    </section>
                </div>
            </div>
        </div>
    </div>

{% end %}

{% block script %}
    $(function(){
        $("#message_content").editor()

        function doResponse(data, $obj, $container){
            var dataContent = 'new'
            if(arguments.length > 1)
                dataContent = $obj.attr("data-content")
            else
                $container = $('#new_comment_container')
            var imageContainerSelector = '#image_attachment' 
            var fileContainerSelector = '#file_attachments'

            var $imageContainer, $fileContainer, $target = $container 
            
            if(dataContent && dataContent === 'new') {
                $target = $('<article class="comment editable_container" '
                    + 'href="/project/' + data.project_id + '/message/' + data.message_id + '/comment">'
                    + '<a href="/people/' + data.own.id + '" class="editable" data-type="html">'
                    + '<img class="avatar" src="/avatar/' + data.own.avatar + '">'
                    + '</a>'
                    + '<div class="formatted_content">'
                    + '<strong>' + data.own.name + '</strong>:'
                    + '<div class="editable" name="content" data-type="textarea">'
                    + data.content
                    + '</div>'
                    + '</div>'
                    + '<footer class="time">'
                    + '在<time class="timeago" data-time="' + data.createTime + '" style="">' + data.createTime
                    + '</time>发布<span>–'
                    + '<a class="edit" data-remote="true" href="javascript:;" data-toggle="editorTrigger" data-content="21">'
                    + '编辑</a> 或'
                    + '<a class="delete" data-confirm="Are you sure you want to delete this comment?"' 
                    + 'data-toggle="post" href="/project/55/message/42/comment/21/trash" rel="nofollow">删除</a>'
                    + '</span></footer>'
                    + '<div class="attachments editable" data-type="html">'
                    + '<div class="attachment_tool">'
                    + '<span class="prompt_graphic"></span>'
                    + '<div class="file_input_button">'
                    + '<span data-with-features="files_api">'
                    + '上传文件'
                    + '</span>'
                    + '<span class="file_input_container">'
                    + '<input name="attachment" type="file" multiple="" id="messageAttachment" '
                    + 'data-content="_new" tabindex="-1">'
                    + '<a class="decorated" data-behavior="local_file_picker" href="#" tabindex="-1">'
                    + '选择要上传的文件'
                    + '</a>'
                    + '</span>'
                    + '</div>'
                    + '</div>'
                    + '<ul class="pending_attachments ui-sortable" id="attachments_container">'
                    + '</ul>'
                    + '<div id="attachments_for_message_11182345">'
                    + '<div class="image_grid_view">'
                    + '<table class="in_3_columns">'
                    + '<tbody id="image_attachment' + data.id + '">'
                    + '</tbody>'
                    + '</table>'
                    + '</div>'
                    + '<ul class="file_attachments" id="file_attachments' + data.id + '">'
                    + '</ul>'
                    + '</div>'
                    + '</div>'
                    + '</article>')
                $('#add_comment_content').text('')
                $target.insertBefore($container)
                imageContainerSelector += data.id
                fileContainerSelector += data.id
                if($obj)
                    $obj.data("editorTrigger").distory()
            }
            else if(dataContent){
                imageContainerSelector += dataContent
                fileContainerSelector += dataContent
            }
            var $imageContainer = $(imageContainerSelector, $target)
            var $fileContainer = $(fileContainerSelector, $target)
            $fileContainer.empty()
            $imageContainer.empty()
            var $images 
            var imageNum = 0
            for(var i in data.attachments) {            
                var attachment = data.attachments[i]
                if(attachment.fileType == 0) { 
                    if( imageNum % 3 == 0)
                        $images = $('<tr class="images"></tr>')
                    ++imageNum
                    var image = '<td class="occupied">'
                        + '<article class="image">'
                        + '<figure class="thumbnail proportinal">'
                        + '<a href="/attachment/' + attachment.url + '" target="_blank">'
                        + '<div class="background" style="height: 174px; width: 262px;">'
                        + '<img alt="" class="thumbnail editable" src="/attachment/' + attachment.url
                        + '" data-type="image" data-append="#attachments_container" data-content="' + attachment.url + '" '
                        + 'data-width="' + attachment.width + '" data-height="' + attachment.height + '">'
                        + '</div>'
                        + '</a>'
                        + '</figure>'
                        + '</article>'
                        + '</td>'
                    $images.append(image)
                    if( imageNum % 3 == 2)
                        $imageContainer.append($images) 
                }
                else {
                    var $fileObj = $('<li>'
                        + '<a href="/attachment/' + attachment.url + '" target="_blank">'
                        + '<img src="{{static_url("images/document.png")}}" class="editable" data-type="file" data-content="' 
                        + attachment.url + '" data-append="#attachments_container">'
                        + '<span>' + attachment.name + '</span>'
                        + '</a>'
                        + '<div class="tags">'
                        + '<ul class="tags">'
                        + '</ul>'
                        + '</div>'
                        + '</li>')
                    $fileContainer.append($fileObj)
                }
            }
            if(imageNum %3 != 2)
                $imageContainer.append($images) 
            if(dataContent && dataContent === 'new') {
                $('.image_grid_view', $target).imageView()
            }
            else {
                $('.image_grid_view', $target).data("imageView").reload()
            }
            $.lily.showWarring($target)
            $('time.timeago').timeago()
        }
        $('.image_grid_view').imageView()

        $('[data-toggle=editorTrigger]').data("doResponse", doResponse)
        $('time.timeago').timeago()


        $.lily.webSocketProcess = doResponse
    })
{% end %}
