{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block body%}

    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active blank_slate inactive">
            <header>
                <h1><a data-restore-position="" href="/project/{{project.id}}">{{project.title}}</a></h1>
            </header>
            <div class="panel sheet message new" style="margin-left: 20px; margin-bottom: -20px;">
                <header>
                    <h1 style="display: none">Post a new message</h1>
                </header>
                <div class="sheet_body">
                    <article class="message new expanded">
                        <form action="/{{teamId}}/project/{{project.id}}/message" class="new_message" data-remote="true" id="new_message" method="post">
                            <header>
                                <h3>
                                    <textarea autofocus="autofocus" data-toggle="remote" 
                                        id="message_subject" name="title" 
                                        placeholder="话题" rows="1" 
                                        data-autoresize="true" 
                                        style="width: 100%; resize: none; overflow: hidden; min-height: 31px;box-shadow: none">
                                    </textarea>
                                </h3>
                            </header>
                            <div data-toggle="wysiwyg_container">
                                <textarea class="body" id="message_content" name="content" rows="7" style="display: none;width: 800px;" 
                                    data-toggle="remote" 
                                    placeholder="Type your message here...">
                                </textarea>
                            </div>
                            <div data-behavior="pending_attachments file_drop_target" 
                                data-sortable="true" class="attachments" id="file_upload_article">
                                <span class="prompt_graphic"></span>
                                <div class="file_input_button">
                                    <span data-with-features="files_api">
                                        上传文件
                                    </span>
                                    <span class="file_input_container">
                                        <input name="attachment" type="file" multiple="" 
                                           id="messageAttachment" tabindex="-1">
                                        <a class="decorated" data-behavior="local_file_picker" href="#" tabindex="-1">
                                            选择要上传的文件
                                        </a>
                                    </span>
                                </div>
                                <ul class="pending_attachments ui-sortable" id="attachments_container">
                                </ul>
                            </div>
                            <footer data-behavior="compose_footer expandable">
                                <div class="submit">
                                    <button class="action_button green" name="commit" data-toggle="submit" >发起讨论</button>
                                </div>
                            </footer>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>

{% end %}

{% block script %}
    $(function(){
        $("#message_content").editor()

        $('#file_upload_article').fileuploader({
            url: '/attachment'
        })
    })
{% end %}
