{% extends "../base.html" %}
{% block title %}MyTask{% end %}

{% block body%}
    {% from datetime import date %}
    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active blank_slate inactive">
            <header>
                <h1><a data-restore-position="" href="/{{teamId}}/project/{{project.id}}">{{project.title}}</a></h1>
            </header>

            <div class="panel sheet todolists has_sidebar" style="margin-left: 20px;margin-bottom: -20px;">
                <header class="has_buttons">
                    <h1>
                        <span >任务列表</span>
                    </h1>
                    <a class="action_button button btn" data-toggle="button-display" href="javascript:;" 
                        data-content="#new_todoList_article">添加任务列表</a>
                </header>
                <div class="sheet_body">
                    <section class="todos">
                        <article class="todolist new expanded" id="new_todoList_article" style="display:none">
                            <header class="expanded_content">
                                <form action="/{{teamId}}/project/{{project.id}}/todolist" class="new_todolist" id="new_todolist" method="post">
                                    <header class="text_entry">
                                        <h3>
                                            <input id="todolist_name" data-toggle="remote" name="title" size="10" type="text" placeholder="给任务列表起个名字">
                                        </h3>
                                    </header>
                                    <p class="submit">
                                        <button name="commit" data-toggle="submit" >保存，开始添加任务</button> or
                                        <a class="cancel btn" data-toggle="button-display"  
                                            data-content="#new_todoList_article" href="javascript:;">取消</a>
                                    </p>
                                </form>
                            </header>
                        </article>
                        <ul class="todolists ui-sortable" id="todolists_container">
                            {% for todolist in project.todolists %}
                            <li data-sortable-type="todolist" id="sortable_todolist"> 
                                <article class="todolist">
                                    <header class="collapsed_content" data-behavior="has_hover_content">
                                        <div class="nubbin" style="display: none; left: -62px;" data-behavior="hover_content">
                                            <div class="spacer"></div>
                                            <a class="image delete" data-confirm="Are you sure you want to delete this to-do list?" data-toggle="post"
                                                data-method="post" data-remote="true" href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/trash" rel="nofollow">
                                                Delete
                                            </a>
                                            <a class="edit" href="javascript:;">Edit</a>
                                        </div>
                                        <h3 >
                                            <a class="linked_title" href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}">
                                                {{ todolist.title}}
                                            </a>
                                        </h3>
                                        <!-- <p><em>{{ todolist.description}}</em></p> -->
                                    </header>
                                    <ul class="todos">
                                        {% for todoItem in [ todoItem for todoItem in todolist.todoItems if todoItem.done == 0]%}
                                        <li class="todo show editable_container" data-behavior="has_hover_content" 
                                            href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}">
                                            <div class="nubbin" style="display: none; left: -62px;" data-behavior="hover_content">
                                                <div class="spacer"></div>
                                                <a class="image delete" data-confirm="Are you sure you want to delete this to-do?" data-toggle="post"
                                                    data-remote="true" href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}/trash" 
                                                    rel="nofollow">Delete</a>
                                                <a class="edit" data-remote="true" data-toggle="editorTrigger" href="javascript:;">Edit</a>
                                            </div>
                                            <div>
                                                <span class="wrapper">
                                                    <input href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}/done"
                                                        name="todo_complete" data-toggle="post" type="checkbox" value="1">
                                                    <span class="content" >
                                                        <a href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}" 
                                                            class="editable" data-type="textarea" name="description">
                                                            {{ todoItem.description }}
                                                        </a>
                                                    </span>
                                                    <form action="/{{teamId}}/project/{{project.id}}/todo/{{todoItem.id}}" class="edit_todo editable" 
                                                        data-remote="true" id="edit_todo_41824572" method="post" data-type="html">
                                                        <span style="position:relative">
                                                            <span class="pill has_balloon blank showing exclusively_expanded expanded{% if todoItem.deadline is not None %} {% if todoItem.deadline.date() < date.today() %} delay {% end %}{% if todoItem.deadline.date() == date.today() %} current {% end %}{% end %}"
                                                                data-toggle="popover" data-content="#tpl-todo-popover"
                                                                data-hovercontent-strategy="visibility">
                                                                <a class="popover-btn data-toggle="popover" 
                                                                    data-remote="true" href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}" 
                                                                    data-content="#tpl-todo-popover">
                                                                    <span name="worker.name" class="echo"> 
                                                                    {% if todoItem.worker is None %}
                                                                        未分配
                                                                        <input type="hidden" data-toggle="remote" name="workerId">
                                                                    {% else %}
                                                                        {{todoItem.worker.name}}
                                                                        <input type="hidden" data-toggle="remote" name="workerId" value="{{todoItem.worker.id}}">
                                                                    {% end %}
                                                                    </span>
                                                                    <span class="separator"> · </span>
                                                                    <time name="deadlineDate" class="echo">
                                                                    {% if todoItem.deadline is None %}
                                                                        无截止日期
                                                                        <input type="hidden" data-toggle="remote" name="deadLine" value="">
                                                                    {% else %}
                                                                        {{todoItem.deadline.strftime("%Y-%m-%d")}}
                                                                        <input type="hidden" data-toggle="remote" name="deadLine" 
                                                                            value="{{todoItem.deadline.strftime("%Y-%m-%d %H:%M:%S")}}">
                                                                    {% end %}
                                                                    </time>
                                                                </a>
                                                            </span>
                                                        </span>
                                                    </form>
                                                </span>
                                            </div>
                                        </li>
                                        {% end %}
                                    </ul>

                                    <ul class="new expanded">
                                        <li class="collapsed_content">
                                            <a class="decorated btn" data-toggle="button-display" id="trigger_todoList_{{todolist.id}}" 
                                                data-content="#new_todoitem_{{todolist.id}}" data-hidden="#trigger_todoList_{{todolist.id}}" 
                                                href="javascript:;">
                                                添加任务
                                            </a>
                                        </li>
                                        <li class="expanded_content edit_mode">
                                            <form action="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem" class="new_todo" 
                                                data-remote="true" id="new_todoitem_{{todolist.id}}" 
                                                style="display:none" method="post">
                                                <textarea id="todo_content" 
                                                    name="description" placeholder="添加一个新任务" rows="1" data-toggle="remote"
                                                    data-autoresize="true" style="resize: none; overflow: hidden; min-height: 18px;"></textarea>
                                                <span style="position:relative">
                                                    <span class="pill has_balloon blank ignore_hover"> 
                                                        <a class="popover-btn" href="javascript:;" data-toggle="popover" data-content="#tpl-todo-popover">
                                                            <input type="hidden" data-toggle="remote" name="deadLine">
                                                            <input type="hidden" data-toggle="remote" name="workerId">
                                                            <span name="workerName"> 
                                                                未分配
                                                            </span>
                                                            <span class="separator"> · </span>
                                                            <time name="deadlineDate">
                                                                无截止日期
                                                            </time>
                                                        </a>
                                                    </span>
                                                </span>
                                                <p class="submit">
                                                    <button name="commit" data-toggle="submit" >添加任务</button>
                                                    <a class="cancel btn" data-role="cancel" href="javascript:;"
                                                        data-toggle="button-display" data-content="#new_todoitem_{{todolist.id}}" 
                                                        data-hidden="#trigger_todoList_{{todolist.id}}" >
                                                        取消
                                                    </a>
                                                </p>
                                            </form>
                                        </li>
                                    </ul>

                                    <ul class="completed truncated" style="display: block;">  
                                        {% for todoItem in [ todoItem for todoItem in todolist.todoItems if todoItem.done == 1]%}
                                        <li class="todo show" id="todo_41824572">
                                            <div class="nubbin" style="display: none; left: -62px;" data-behavior="hover_content">
                                                <div class="spacer"></div>
                                                <a class="image delete" data-confirm="Are you sure you want to delete this to-do?" data-toggle="post"
                                                    data-remote="true" href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}/trash" 
                                                    rel="nofollow">Delete</a>
                                                <a class="edit" data-remote="true" data-toggle="editorTrigger" href="javascript:;">Edit</a>
                                            </div>
                                            <div class="complete">
                                                <span class="wrapper">
                                                    <input href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}/undone"
                                                        name="todo_complete" checked="true" data-toggle="post" type="checkbox" value="1">
                                                    <span class="content" >
                                                        <a href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}" 
                                                            class="editable" data-type="textarea" name="description">
                                                            {{ todoItem.description }}
                                                        </a>
                                                    </span>
                                                    <form action="/{{teamId}}/project/{{project.id}}/todo/{{todoItem.id}}" class="edit_todo editable" 
                                                        data-remote="true" id="edit_todo_41824572" method="post" data-type="html">
                                                        <span style="position:relative">
                                                            <span class="pill has_balloon blank showing exclusively_expanded expanded"
                                                                data-toggle="popover" data-content="#tpl-todo-popover"
                                                                data-hovercontent-strategy="visibility">
                                                                <a class="popover-btn" data-toggle="popover" 
                                                                    data-remote="true" href="/{{teamId}}/project/{{project.id}}/todolist/{{todolist.id}}/todoitem/{{todoItem.id}}" 
                                                                    data-content="#tpl-todo-popover">
                                                                    <span name="worker.name" class="echo"> 
                                                                        {{todoItem.worker.name}}
                                                                        <input type="hidden" data-toggle="remote" name="workerId" value="{{todoItem.worker.id}}">
                                                                    </span>
                                                                    <span class="separator"> · </span>
                                                                    <time name="deadlineDate" class="echo">
                                                                        {{todoItem.deadline.strftime("%Y-%m-%d")}}
                                                                        <input type="hidden" data-toggle="remote" name="deadLine" 
                                                                            value="{{todoItem.deadline.strftime("%Y-%m-%d %H:%M:%S")}}">
                                                                    </time>
                                                                </a>
                                                            </span>
                                                        </span>
                                                    </form>
                                                </span>
                                            </div>
                                        </li>
                                        {% end %}
                                    </ul>
                                </article>
                            </li>
                            {% end %}
                        </ul>
                    </section>
                </div>
                <aside>
                    <p>
                        任务筛选<br>
                        <select id="member_filter">
                            <option value="">所有人</option>
                            <option value="unassigned">未分配</option>
                            {% for member in project.users %}
                            <option value="{{member.id}}">{{member.name}}</option>
                            {% end %}
                        </select>
                    </p>
                    <!--
                    <p>
                        <select id="time_filter">
                            <option value="">所有时间</option>
                            <option value="past">已延误</option>
                        </select>
                    </p>
                    -->
                </aside>
            </div>
        </div>
    </div>
<div class="popover direction-right-top" style="display: none" id="tpl-todo-popover">
    <div class="popover-content">
        <div class="assign-due-popover">
        	<div class="select-assignee">
        		<h3>将任务指派给</h3>
        		<select tabindex="62" name="workerId" class="todo-assignee" >
                    {% for member in project.users %}
                    <option value="{{member.id}}">{{member.name}}</option>
                    {% end %}
        	  </select>
        	</div>
        	<div class="select-due-date">
        		<h3>任务截止时间</h3>
        		<div class="datepicker" id="todo-popover-datapicker">
        			<input type="hidden" class="todo-due-date" />
        		</div>
        		<div class="no-due-date">
        			<a href="javascript:;">没有截止时间</a>
        		</div>
        	</div>
        </div>
    </div>
    <div class="popover-arrow"></div>
</div>
{% end %}

{% block script %}
$(function(){
    $('time.timeago').timeago()

    $('select').change(function() {
        var member = $('#member_filter').val()
        $('li.todo').each(function(){
            var $this = $(this)
            if(member && member.length > 0){
                var thisMember = member
                if(member === "unassigned") 
                    thisMember = ""
                var currentMember = $this.find("[name=workerId]").val()
                if(currentMember == thisMember)
                    $this.show()
                else
                    $this.hide()
            }
            else {
                $this.show()
            }
        })
    })
})

{% end %}
