{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block bodyClass %}topnav_calendar{% end %}
{% block body%}
    <div class="container flat_container calendar_container" style="position: relative;">
        <div class="panel calendar">
            <div id="calendar_display_singleton" class="calendar_display calendar_list_visible" >
                <div class="right">
                    <div class="sheet" id='myCalendar'>
                        <header id="calendar_navigation_singleton" class="calendar_navigation" data-autoview="">
                            <button class="toggle_calendar_list hide action_button" >
                                <span class="hide">⇤ 隐藏日历列表</span>
                            </button>
                            <button class="toggle_calendar_list show action_button" >
                                <span class="show">显示日历列表⇥</span>
                            </button>
                            <nav>
                                <button class="action_button prev">
                                    ◀
                                </button>
                                <button class="action_button next">
                                    ▶
                                </button>
                            </nav>
                            <h1 data-behavior="expandable" class="calendar_title">
                                <a href="#" data-behavior="jump_to_month" id="myCalendar_title">
                                </a>
                                <div id="calendar_jump_singleton" class="position_reference" data-autoview="" style="display:none">
                                    <div class="calendar_jump balloon top_left_side">
                                        <span class="arrow"></span>
                                        <span class="arrow"></span>
                                        <form>
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="nav"><a href="#" data-direction="backward">◀</a></td>
                                                        <td id="myCalendar_month_select">
                                                        </td>
                                                        <td class="nav"><a href="#" data-direction="forward">▶</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </h1>
                        </header>
                        <div id="calendar_grid_singleton" class="calendar_grid" data-autoview="">
                        </div>
                    </div>
                </div>

                <div class="left">
                    <aside class="calendar_list">
                        <div id="calendar_list_singleton" class="calendar_list">
                            <section class="calendars">
                                <div class="new_calendar_event" id="new_calendar_area" data-url="/{{teamId}}/calendar">
                                    <a href="javascript:;" class="decorated popover-btn">+ 添加日历</a>
                                </div>
                                <h4>日历</h4>
                                <ul class="have_not_been_shared" id="calendar_list">
                                    {% for calendar in calendars %}
                                    <li class="calendar" id="calendar_451504" data-url="/{{teamId}}/calendar" data-bucket="Calendar:{{calendar.id}}">
                                        <input data-toggle="remote" type="hidden" name="id" value="{{calendar.id}}">
                                        <span class="swatch" style="background-color: #{{calendar.color}}">
                                            <a href="javascript:;" class="btn selected" data-toggle="select" data-behavior="toggle_bucket">
                                            </a>
                                        </span>
                                        <a href="javascript:;" name="title" data-toggle="remote" 
                                            class="calendar_title" title="Only show this calendar">{{calendar.title}}</a>
                                        <a href="javascript:;" class="popover-btn" data-post="{{calendar.id}}" title="">设置</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </section>
                            <section class="calendars">
                                <h4>项目</h4>
                                <ul id="project_list">
                                    {% for project in projects %}
                                    <li data-url="/{{teamId}}/project/{{project.id}}/color" data-bucket="Project:{{project.id}}" class="">
                                        <span class="swatch" style="background-color: #{{project.color}}">
                                            <a href="javascript:;" class="selected btn" data-toggle="select" data-behavior="toggle_bucket">
                                            </a>
                                        </span>
                                        <a href="javascript:;" title="Only show this calendar">{{project.title}}</a>
                                        <a href="javascript:;" class="popover-btn" >设置</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </section>
                            <section class="calendar_feeds">
                                <p><a href="/{{teamId}}/calendar_feeds" class="decorated" data-default-stack="true">订阅到iCal</a></p>
                            </section>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>


<div class="popover direction-right-top" id="tpl-event-popover">
    <div class="popover-content">
        <form class="calendar_event_editor_form">
            <div class="collapsed_content">
                <header>
                    <fieldset class="event_name">
                        <input type="hidden" name="id" data-toggle="remote"/>
                        <stong>
                            <input type="text" name="title" data-toggle="remote"/>
                        </stong>
                    </fieldset>
                    <fieldset class="event_time">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="time">
                                        <input type="text" id="event_start_time" name="startTime" data-type="text" data-toggle="remote"
                                            placeholder="在什么时候? (9am, 1pm, etc.)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset class="event_note">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="description">
                                        <input type="text" name="description" value="" data-type="text" data-toggle="remote"
                                            placeholder="备注">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </header>
                <section>
                    <div class="slider">
                        <ul class="slides">
                            <li class="slide active">
                                <fieldset class="event_date">
                                    <div class="start_date">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="label">
                                                        <label>日历:</label>
                                                    </td>
                                                    <td>
                                                        <select name="bucket" data-behavior="bucket_selector" data-toggle="remote">
                                                            <optgroup label="Calendars">
                                                                {% for calendar in calendars %}
                                                                <option value="Calendar:{{calendar.id}}">{{calendar.title}}</option>
                                                                {% end %}
                                                            </optgroup>
                                                            <optgroup label="Projects">
                                                                {% for project in projects %}
                                                                <option value="Project:{{project.id}}">{{project.title}}</option>
                                                                {% end %}
                                                            </optgroup>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">
                                                        <label>开始:</label>
                                                    </td>
                                                    <td class="date" data-behavior="date_entry">
                                                        <input type="text" class="date" readonly="" tabindex="-1"
                                                            data-toggle="datepick" name="startDate" id="dp1369911710713">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">
                                                        <label>结束:</label>
                                                    </td>
                                                    <td class="date" data-behavior="date_entry">
                                                        <input type="text" class="date hasDatepicker" readonly="" tabindex="-1"
                                                            data-toggle="datepick" name="endDate" id="dp1369911710714">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset> 
                            </li>
                        </ul>
                    </div>
                </section>
                <footer>
                    <p class="submit">
                        <a data-behavior="confirm" class="action_button green">保存</a>
                        or <a href="javascript:;" class="cancel" data-role="cancel" data-behavior="cancel">取消</a>
                        <a href="javascript:;" class="image delete" data-behavior="delete"></a>
                    </p>
                </footer>
            </div>
        </form>
    </div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>

<div id="calendar_editor_singleton" class="popover calendar_editor calendar_display" style="left: 0px; display: none;">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="popover-content balloon">
        <form method="post" action="/{{teamId}}/calendar" class="calendar_editor_form">
            <header>
                <input type="hidden" name="id" data-toggle="remote" value="">
                <fieldset class="calendar_settings">
                    <h3>
                        <input name="title"
                            class="placeholding" data-autoresize="true" name="title"
                            data-toggle="remote" placeholder="我的日历" style="resize: none; overflow: hidden; min-height: 20px;">
                        </input>
                    </h3>
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="3185c5" style="background-color: #3185c5">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="000099" style="background-color: #000099">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="3b9e93" style="background-color: #3B9E93">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="009900" style="background-color: #009900">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="aa0000" style="background-color: #aa0000">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="ec61a2" style="background-color: #ec61a2">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="cc6633" style="background-color: #cc6633">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="666666" style="background-color: #666666">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="000000" style="background-color: #000000">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="660099" style="background-color: #660099">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="ff9c00" style="background-color: #ff9c00">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="e207c1" style="background-color: #e207c1">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="a5460d" style="background-color: #a5460d">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="650606" style="background-color: #650606">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="482a15" style="background-color: #482a15">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="2c5322" style="background-color: #2c5322">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="b3a543" style="background-color: #b3a543">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="46647c" style="background-color: #46647c">
                        </label>
                    </div>
                </fieldset>
            </header>
            <div data-behavior="calendar_accesses">
                <section>
                    <div class="slider" data-behavior="slider">
                        <ul class="slides" style="width: 200%;">
                            <li class="slide" data-slide-index="1" style="width: 220px;">
                                <div class="subscribable change_accesses">
                                    <div class="invitees">
                                        <h4>用户邀请</h4>
                                        <section class="invite">
                                            <div class="invitees" data-behavior="invitees" id="invitees">
                                                <div class="person invitee field blank">
                                                    <div class="autocomplete_people">
                                                        <div class="icon"></div>
                                                        <div class="input">
                                                            <input type="text" name="email[]" value="" spellcheck="false" 
                                                                data-toggle="remote">
                                                        </div>
                                                        <div class="suggestions" data-role="suggestions_view">
                                                            <ol class="suggestions">
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <footer>
                <p class="submit">
                    <a href="javascript:;" id="calendar_editor_submit" class="action_button green" data-disabled-with="正在修改...">提交</a>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
</div>

<div id="project_editor_singleton" class="popover project_editor calendar_display" style="display: none" >
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="popover-content balloon">
        <form method="post" action="" class="calendar_editor_form">
            <header>
                <fieldset class="calendar_settings">
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn" name="color" data-toggle="select" data-content="3185c5" 
                            style="background-color: #3185c5">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="000099" 
                            style="background-color: #000099">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="3b9e93" 
                            style="background-color: #3B9E93">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="009900" 
                            style="background-color: #009900">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="aa0000" 
                            style="background-color: #aa0000">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="ec61a2" 
                            style="background-color: #ec61a2">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="cc6633" 
                            style="background-color: #cc6633">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="666666" 
                            style="background-color: #666666">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="000000" 
                            style="background-color: #000000">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="660099" 
                            style="background-color: #660099">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="ff9c00" 
                            style="background-color: #ff9c00">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="e207c1" 
                            style="background-color: #e207c1">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="a5460d" 
                            style="background-color: #a5460d">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="650606" 
                            style="background-color: #650606">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="482a15" 
                            style="background-color: #482a15">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="2c5322" 
                            style="background-color: #2c5322">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="b3a543" 
                            style="background-color: #b3a543">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="46647c" 
                            style="background-color: #46647c">
                        </label>
                    </div>
                </fieldset>
            </header>
            <footer>
                <p class="submit">
                    <a href="javascript:;" id="project_editor_submit" class="action_button" 
                        data-disabled-with="正在修改...">提交</a>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
</div>
<script>
    var calendarColor = {
        {% for calendar in calendars %}
        'Calendar:{{calendar.id}}': '{{calendar.color}}',
        {% end %}
        {% for project in projects %}
        'Project:{{project.id}}': '{{project.color}}',
        {% end %}
    }
    var currentCalendar = ''
    {% if len(calendars) > 0 %}
    currentCalendar = 'Calendar:{{calendars[0].id}}'
    {% end %}
    var teamId = {{teamId}}
</script>
{% end %}
