{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block bodyClass %}topnav_calendar{% end %}
{% block body%}
    <div class="container flat_container calendar_container" style="position: relative;">
        <div class="panel calendar">
            <div id="calendar_display_singleton" class="calendar_display calendar_list_visible" >
                <div class="right">
                    <div class="sheet" id='myCalendar'>
                        <header id="calendar_navigation_singleton" class="calendar_navigation" data-autoview="">
                            <button class="toggle_calendar_list hide action_button" >
                                <span class="hide">⇤ 隐藏日历列表</span>
                            </button>
                            <button class="toggle_calendar_list show action_button" >
                                <span class="show">显示日历列表⇥</span>
                            </button>
                            <nav>
                                <button class="action_button prev">
                                    ◀
                                </button>
                                <button class="action_button next">
                                    ▶
                                </button>
                            </nav>
                            <h1 data-behavior="expandable" class="calendar_title">
                                <a href="#" data-behavior="jump_to_month" id="myCalendar_title">
                                </a>
                                <div id="calendar_jump_singleton" class="position_reference" data-autoview="" style="display:none">
                                    <div class="calendar_jump balloon top_left_side">
                                        <span class="arrow"></span>
                                        <span class="arrow"></span>
                                        <form>
                                            <table border="0" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="nav"><a href="#" data-direction="backward">◀</a></td>
                                                        <td id="myCalendar_month_select">
                                                        </td>
                                                        <td class="nav"><a href="#" data-direction="forward">▶</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </h1>
                        </header>
                        <div id="calendar_grid_singleton" class="calendar_grid" data-autoview="">
                        </div>
                    </div>
                </div>

                <div class="left">
                    <aside class="calendar_list">
                        <div id="calendar_list_singleton" class="calendar_list">
                            <section class="calendars">
                                <div class="new_calendar_event" id="new_calendar_area" data-url="/{{teamId}}/calendar">
                                    <a href="javascrtipt:;" class="decorated popover-btn">+ 添加日历</a>
                                </div>
                                <h4>日历</h4>
                                <ul class="have_not_been_shared" id="calendar_list">
                                    {% for calendar in calendars %}
                                    <li class="calendar" id="calendar_451504" data-url="/{{teamId}}/calendar" data-bucket="Calendar:{{calendar.id}}">
                                        <input data-toggle="remote" type="hidden" name="id" value="{{calendar.id}}">
                                        <span class="swatch" style="background-color: #{{calendar.color}}">
                                            <a href="javascript:;" class="btn selected" data-toggle="select" data-behavior="toggle_bucket">
                                            </a>
                                        </span>
                                        <a href="javascript:;" name="title" data-toggle="remote" 
                                            class="calendar_title" title="Only show this calendar">{{calendar.title}}</a>
                                        <a href="javascript:;" class="popover-btn" data-post="{{calendar.id}}" title="">设置</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </section>
                            <section class="calendars">
                                <h4>项目</h4>
                                <ul id="project_list">
                                    {% for project in projects %}
                                    <li data-url="/{{teamId}}/project/{{project.id}}/color" data-bucket="Project:{{project.id}}" class="">
                                        <span class="swatch" style="background-color: #{{project.color}}">
                                            <a href="javascript:;" class="selected btn" data-toggle="select" data-behavior="toggle_bucket">
                                            </a>
                                        </span>
                                        <a href="javascript:;" title="Only show this calendar">{{project.title}}</a>
                                        <a href="javascript:;" class="popover-btn" >设置</a>
                                    </li>
                                    {% end %}
                                </ul>
                            </section>
                            <section class="calendar_feeds">
                                <p><a href="/{{teamId}}/calendar_feeds" class="decorated" data-default-stack="true">订阅到iCal</a></p>
                            </section>
                        </div>

                    </aside>
                </div>
            </div>
        </div>
    </div>


<div class="popover direction-right-top" id="tpl-event-popover">
    <div class="popover-content">
        <form class="calendar_event_editor_form">
            <div class="collapsed_content">
                <header>
                    <fieldset class="event_name">
                        <input type="hidden" name="id" data-toggle="remote"/>
                        <stong>
                            <input type="text" name="title" data-toggle="remote"/>
                        </stong>
                    </fieldset>
                    <fieldset class="event_time">
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="time">
                                        <input type="text" id="event_start_time" name="startTime" data-type="text" data-toggle="remote"
                                            placeholder="在什么时候? (9am, 1pm, etc.)">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset class="event_note">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="description">
                                        <input type="text" name="description" value="" data-type="text" data-toggle="remote"
                                            placeholder="备注">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </header>
                <section>
                    <div class="slider">
                        <ul class="slides">
                            <li class="slide active">
                                <fieldset class="event_date">
                                    <div class="start_date">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td class="label">
                                                        <label>日历:</label>
                                                    </td>
                                                    <td>
                                                        <select name="bucket" data-behavior="bucket_selector" data-toggle="remote">
                                                            <optgroup label="Calendars">
                                                                {% for calendar in calendars %}
                                                                <option value="Calendar:{{calendar.id}}">{{calendar.title}}</option>
                                                                {% end %}
                                                            </optgroup>
                                                            <optgroup label="Projects">
                                                                {% for project in projects %}
                                                                <option value="Project:{{project.id}}">{{project.title}}</option>
                                                                {% end %}
                                                            </optgroup>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">
                                                        <label>开始:</label>
                                                    </td>
                                                    <td class="date" data-behavior="date_entry">
                                                        <input type="text" class="date" readonly="" tabindex="-1"
                                                            data-toggle="datepick" name="startDate" id="dp1369911710713">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="label">
                                                        <label>结束:</label>
                                                    </td>
                                                    <td class="date" data-behavior="date_entry">
                                                        <input type="text" class="date hasDatepicker" readonly="" tabindex="-1"
                                                            data-toggle="datepick" name="endDate" id="dp1369911710714">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset> 
                            </li>
                        </ul>
                    </div>
                </section>
                <footer>
                    <p class="submit">
                        <a data-behavior="confirm" class="action_button green">保存</a>
                        or <a href="javascript:;" class="cancel" data-role="cancel" data-behavior="cancel">取消</a>
                        <a href="javascript:;" class="image delete" data-behavior="delete"></a>
                    </p>
                </footer>
            </div>
        </form>
    </div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>

<div id="calendar_editor_singleton" class="popover calendar_editor calendar_display" style="left: 0px; display: none;">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="popover-content balloon">
        <form method="post" action="/{{teamId}}/calendar" class="calendar_editor_form">
            <header>
                <input type="hidden" name="id" data-toggle="remote" value="">
                <fieldset class="calendar_settings">
                    <h3>
                        <input name="title"
                            class="placeholding" data-autoresize="true" name="title"
                            data-toggle="remote" placeholder="我的日历" style="resize: none; overflow: hidden; min-height: 20px;">
                        </input>
                    </h3>
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="3185c5" style="background-color: #3185c5">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="000099" style="background-color: #000099">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="3b9e93" style="background-color: #3B9E93">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="009900" style="background-color: #009900">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="aa0000" style="background-color: #aa0000">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="ec61a2" style="background-color: #ec61a2">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="cc6633" style="background-color: #cc6633">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="666666" style="background-color: #666666">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="000000" style="background-color: #000000">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="660099" style="background-color: #660099">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="ff9c00" style="background-color: #ff9c00">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="e207c1" style="background-color: #e207c1">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="a5460d" style="background-color: #a5460d">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="650606" style="background-color: #650606">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="482a15" style="background-color: #482a15">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="2c5322" style="background-color: #2c5322">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="b3a543" style="background-color: #b3a543">
                        </label>
                        <label class="swatch btn" name="color" 
                            data-toggle="select" data-content="46647c" style="background-color: #46647c">
                        </label>
                    </div>
                </fieldset>
            </header>
            <div data-behavior="calendar_accesses">
                <section>
                    <div class="slider" data-behavior="slider">
                        <ul class="slides" style="width: 200%;">
                            <li class="slide" data-slide-index="1" style="width: 220px;">
                                <div class="subscribable change_accesses">
                                    <div class="invitees">
                                        <h4>用户邀请</h4>
                                        <section class="invite">
                                            <div class="invitees" data-behavior="invitees" id="invitees">
                                                <div class="person invitee field blank">
                                                    <div class="autocomplete_people">
                                                        <div class="icon"></div>
                                                        <div class="input">
                                                            <input type="text" name="email[]" value="" spellcheck="false" 
                                                                data-toggle="remote">
                                                        </div>
                                                        <div class="suggestions" data-role="suggestions_view">
                                                            <ol class="suggestions">
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <footer>
                <p class="submit">
                    <a href="javascript:;" id="calendar_editor_submit" class="action_button green" data-disabled-with="正在修改...">提交</a>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
</div>

<div id="project_editor_singleton" class="popover project_editor calendar_display" style="display: none" >
    <div class="popover-content balloon">
        <form method="post" action="" class="calendar_editor_form">
            <header>
                <fieldset class="calendar_settings">
                    <p>选择颜色</p>
                    <div class="swatches" data-toggle="select-radio">
                        <label class="swatch btn" name="color" data-toggle="select" data-content="3185c5" 
                            style="background-color: #3185c5">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="000099" 
                            style="background-color: #000099">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="3b9e93" 
                            style="background-color: #3B9E93">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="009900" 
                            style="background-color: #009900">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="aa0000" 
                            style="background-color: #aa0000">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="ec61a2" 
                            style="background-color: #ec61a2">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="cc6633" 
                            style="background-color: #cc6633">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="666666" 
                            style="background-color: #666666">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="000000" 
                            style="background-color: #000000">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="660099" 
                            style="background-color: #660099">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="ff9c00" 
                            style="background-color: #ff9c00">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="e207c1" 
                            style="background-color: #e207c1">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="a5460d" 
                            style="background-color: #a5460d">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="650606" 
                            style="background-color: #650606">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="482a15" 
                            style="background-color: #482a15">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="2c5322" 
                            style="background-color: #2c5322">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="b3a543" 
                            style="background-color: #b3a543">
                        </label>
                        <label class="swatch btn" name="color" data-toggle="select" data-content="46647c" 
                            style="background-color: #46647c">
                        </label>
                    </div>
                </fieldset>
            </header>
            <footer>
                <p class="submit">
                    <a href="javascript:;" id="project_editor_submit" class="action_button" 
                        data-disabled-with="正在修改...">提交</a>
                    or <a href="#" class="cancel" data-behavior="cancel">取消</a>
                </p>
            </footer>
        </form>
    </div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>
{% end %}

{% block script %}
$(function(){
var calendarColor = {
    {% for calendar in calendars %}
    'Calendar:{{calendar.id}}': '{{calendar.color}}',
    {% end %}
    {% for project in projects %}
    'Project:{{project.id}}': '{{project.color}}',
    {% end %}
}
var $element = $('#myCalendar')
var currentCalendar = ''
{% if len(calendars) > 0 %}
currentCalendar = 'Calendar:{{calendars[0].id}}'
{% end %}
var $calendar_editor = $('#calendar_editor_singleton');
function showCalendarEditor(e) {
    var $btn = $(e.target);
    var $source = $btn.parent('li');
    $calendar_editor.show();
}
function calendarProcess(responseData, $element) {
    $('span.swatch', $element).css("background-color", '#' + responseData.color)
    $('.calendar_title', $element).text(responseData.title)
    var bucket = 'Calendar:' + responseData.id
    $('.event[data-bucket="' + bucket + '"]').children(".event").css("color", "#" + responseData.color)
    $('.row[data-bucket="' + bucket + '"]').children(".event").css("background-color", "#" + responseData.color)
    calendarColor[bucket] = responseData.color
}
function projectProcess(responseData, $element) {
    $('span.swatch', $element).css("background-color", '#' + responseData.color)
    $('.calendar_title', $element).text(responseData.title)

    $('.event[data-bucket]')
}

function newCalendarProcess(responseData, $element) {
    var $calendar = $('<li class="calendar" id="calendar_451504" data-url="/{{teamId}}/calendar" data-bucket-id="' 
        + responseData.id + '">'
        + '<span class="swatch" style="background-color: #' + responseData.color + '">'
        + '<a href="javascript:;" class="active btn" data-toggle="select" data-behavior="toggle_bucket"></a>'
        + '</span>'
        + '<a href="javascript:;" class="calendar_title" title="Only show this calendar">' + responseData.title 
        + '</a><a href="javascript:;" class="popover-btn" title="">设置</a>'
        + '</li>')
    $('#calendar_list').append($calendar)
}

$('#calendar_list > li').calendarEditor({
    content: '#calendar_editor_singleton',
    processResponse: calendarProcess,
    deleteProcessResponse: removeEvent
})

$('#project_list > li').calendarEditor({
    content: '#project_editor_singleton',
    processResponse: projectProcess,
    deleteProcessResponse: removeEvent
})

$('#new_calendar_area').calendarEditor({
    content: '#calendar_editor_singleton',
    processResponse: newCalendarProcess,
    deleteProcessResponse: removeEvent
})

function doEventResponse(responseData, $element, oldEvent, $eventElement) {
    var event = responseData
    changeEvent(event, $element, oldEvent, $eventElement)
}

function getEventType(event) {
    if(event.startDate === event.endDate)
        return 1
    return 2
}

function removeEvent(event) {
   $element.find('.event[data-id="' + event.id + '"]').remove()
   $element.find('.row[data-id="' + event.id + '"]').remove()
}

function calculateStyle(beginDate, endDate, weekDay, nextWeekDay) {
    var slot = beginDate.minus(weekDay)
    var eventClass = ''
    if(slot < 0) {
        eventClass += 'slot_0 wraps_prev'
        slot = 0
    }
    else {
        eventClass += 'slot_' + slot
    }
    var width = nextWeekDay.minus(beginDate)
    var endWidth = endDate.minus(beginDate) + 1
    width = width < endWidth ? width : endWidth
    if(width > 7) {
        width = endDate.minus(weekDay) + 1
    }
    else if(width !== endWidth){
        eventClass += ' wraps_next'
    }
    if(width > 7) {
        eventClass += ' width_7 wraps_next'
        width = 7
    }
    else {
        eventClass += ' width_' + width 
    }
    return {class: eventClass, width: width, slot: slot}
}
function generateEventHtml(event, eventStyle) {
    if(event.startTime != undefined) {
        event.startTime = $.lily.timFormater.parse(event.startTime)
    }
    event.bucket =  'Calendar:' + event.calendar_id
    if(event.project_id != undefined)
        event.bucket = 'Project:' + event.project_id
    var color = calendarColor['Calendar:' + event.calendar_id]
    return '<div class="row" data-url="/{{teamId}}/event" data-id="' + event.id + '" data-bucket="' + event.bucket +'">'
        + '<div class="event ' + eventStyle.class + '" style="background-color: #' + color + '" >'
        + '<input data-toggle="remote" type="hidden" name="id" value="' + event.id + '">'
        + '<input data-toggle="remote" type="hidden" name="startDate" value="' + event.startDate + '">'
        + '<input data-toggle="remote" type="hidden" name="endDate" value="' + event.endDate + '">'
        + '<input data-toggle="remote" type="hidden" name="bucket" value="' + event.bucket + '">'
        + '<input data-toggle="remote" type="hidden" name="startTime" value="' + event.startTime + '">'
        + '<input data-toggle="remote" type="hidden" name="description" value="' + event.description + '">'
        + '<span class="event popover-btn" >' 
        + '<span class="title" name="title" data-toggle="remote">' + event.title + '</span></span>'
        + '</div></div>'
}


function spannedOperation($target, start, end, flag) {
    for(var j = start ; j < end; ++ j) {
        var $currentSpanned = $target.eq(j)
        if(flag)
            $currentSpanned.append('<div class="spacer"></div>')
        else {
            $currentSpanned.children().eq(0).remove()
        }
    }
}

function changeEvent(event, $target, oldEvent, $eventElement) {
    if(event.startTime != undefined && event.startTime.length > 0 ) {
        event.startTime = $.lily.timFormater.parse(event.startTime)
    }
    else {
        event.startTime = ''
    }
    var eventType = getEventType(event)
    var oldEventType = getEventType(oldEvent)
    event.bucket =  'Calendar:' + event.calendar_id
    if(event.project_id != undefined)
        event.bucket = 'Project:' + event.project_id
    var color = calendarColor[event.bucket]
    $target.attr("data-bucket", event.bucket)
    if(eventType != oldEventType) {
        removeEvent(oldEvent)
        if($eventElement)
            $eventElement.remove()
        appendEvent(event)
    }
    else if(eventType === 1) {
        $.lily.changeData($target, event)
    }
    else {
        if($eventElement)
            $eventElement.remove()
        var beginDate = $.lily.format.parseDate(event.startDate)
        var endDate = $.lily.format.parseDate(event.endDate)

        var oldBeginDate = $.lily.format.parseDate(oldEvent.startDate)
        var oldEndDate = $.lily.format.parseDate(oldEvent.endDate)

        var weekFirstDayArray = calendar.getWeekFirstDayArray()
        var weekDay = weekFirstDayArray[0]

        for(var i = 1; i < weekFirstDayArray.length; ++i) {
            var nextWeekDay = weekFirstDayArray[i]
            var interval = nextWeekDay.minus(beginDate)
            var nextInterval = endDate.minus(weekDay)
            if(interval > 0 && nextInterval >= 0) {
                var $weekElement = $('.week[data-date=' + weekDay.format('yyyy-mm-dd') + ']', $element)
                var $eventContainer = $weekElement.children(".events")
                var $eventElement = $eventContainer.find('.row[data-id="' + event.id + '"]')

                var eventStyle = calculateStyle(beginDate, endDate, weekDay, nextWeekDay)
                var oldEventStyle = calculateStyle(oldBeginDate, oldEndDate, weekDay, nextWeekDay)

                var color = calendarColor['Calendar:' + event.calendar_id]
                if($eventElement.length == 0) {                
                    $eventElement = $(generateEventHtml(event, eventStyle))
                    $eventContainer.append($eventElement)
                    $eventElement.calendarEditor({
                        content: '#tpl-event-popover',
                        position: 'side',
                        processResponse: doEventResponse,
                        deleteProcessResponse: removeEvent
                    })
                    var $spanned = $weekElement.find(".events.spanned")
                    var $currentSpanned = $($spanned[0])
                    $currentSpanned.append('<div class="spacer"></div>')
                    spannedOperation($spanned, eventStyle.slot + 1, eventStyle.width + eventStyle.slot + 1, true)
                }
                else {
                    var $event = $eventElement.children('.event')
                    $event.removeClass(oldEventStyle.class)
                    $event.addClass(eventStyle.class)
                    $.lily.changeData($eventElement, event)
                    var $spanned = $weekElement.find(".date > .events.spanned")

                    var minStartSlot = eventStyle.slot 
                    var maxStartSlot = oldEventStyle.slot
                    if(minStartSlot !== maxStartSlot ) {
                        var spannedFlag = true
                        if(minStartSlot > maxStartSlot) {
                            minStartSlot = oldEventStyle.slot 
                            maxStartSlot = eventStyle.slot
                            spannedFlag = false
                        }
                        spannedOperation($spanned, minStartSlot, maxStartSlot, spannedFlag)
                    }

                    var minEndSlot = eventStyle.slot + eventStyle.width
                    var maxEndSlot = oldEventStyle.slot + oldEventStyle.width
                    if(minEndSlot !== maxEndSlot ) {
                        spannedFlag = false
                        if(minEndSlot > maxEndSlot) {
                            var temp = minEndSlot
                            minEndSlot = maxEndSlot
                            maxEndSlot = temp 
                            spannedFlag = true
                        }
                        spannedOperation($spanned, minEndSlot, maxEndSlot, spannedFlag)
                    }
                    $event.css("background-color", '#' + color)
                }
            }
            else {
                var $weekElement = $('.week[data-date=' + weekDay.format('yyyy-mm-dd') + ']', $element)
                var $eventContainer = $weekElement.children(".events")
                var $eventElement = $eventContainer.find('.row[data-id="' + event.id + '"]')
                if($eventElement.length > 0) {
                    $eventElement.next().remove()
                    $eventElement.remove()
                    var eventStyle = calculateStyle(oldBeginDate, oldEndDate, weekDay, nextWeekDay)
                    var $spanned = $weekElement.find(".date > .events.spanned")
                    spannedOperation($spanned, eventStyle.slot , eventStyle.width + eventStyle.slot + 1, false)
                }
            }
            weekDay = nextWeekDay
        }
    }
}

function addEvent($dayElement, event, type){
    var $eventContainer = $('.all_day', $dayElement)
    if($eventContainer.length == 0 ) {
        $eventContainer = $('<div class="events all_day"></div>')
        $dayElement.append($eventContainer) 
    }
    var title = event.title
    var startTime = event.startTime
    if(startTime == null || startTime == 'null')
        startTime = ''
    else
        startTime = $.lily.format.formatInputTime(startTime)
    var bucket =  'Calendar:' + event.calendar_id
    if(type === 'project')
        bucket = 'Project:' + event.project_id
    var color = calendarColor[bucket]
    $eventElement = $('<div class="event " data-url="/{{teamId}}/event" data-id="'+ event.id + '" data-bucket="' + bucket +'">' 
        + '<input data-toggle="remote" type="hidden" name="id" value="' + event.id + '">'
        + '<input data-toggle="remote" type="hidden" name="startDate" value="' + event.startDate + '">'
        + '<input data-toggle="remote" type="hidden" name="endDate" value="' + event.endDate + '">'
        + '<input data-toggle="remote" type="hidden" name="bucket" value="' + bucket + '">'
        + '<input data-toggle="remote" type="hidden" name="startTime" value="' + event.startTime + '">'
        + '<input data-toggle="remote" type="hidden" name="description" value="' + event.description + '">'
        + '<span class="event" style="color: #' + color + '" title="Calendar: General">'
        + '•&nbsp;<span class="title popover-btn" name="title" data-content="#tpl-event-popover" data-toggle="remote">' + title + '</span>'
        + '<span class="time" name="startTime" data-toggle="remote">' + startTime + '</span></span></div>')
    $eventContainer.append($eventElement)
    $eventElement.calendarEditor({
        content: '#tpl-event-popover',
        position: 'side',
        processResponse: doEventResponse,
        deleteProcessResponse: removeEvent
    })
}
function addNewEvent($dayElement, event){
    var $eventContainer = $('.all_day', $dayElement)
    var color = calendarColor[currentCalendar]
    $eventElement = $('<div class="event " data-url="/{{teamId}}/event">' 
        + '<input data-toggle="remote" type="hidden" name="startDate" value="' + $dayElement.attr("data-date") + '">'
        + '<input data-toggle="remote" type="hidden" name="endDate" value="' + $dayElement.attr("data-date") + '">'
        + '<span class="event" style="color: #' + color + '" title="Calendar: General">'
        + '•&nbsp;<span class="title popover-btn" name="title" data-content="#tpl-event-popover" data-toggle="remote">新事件</span>'
        + '<span class="time" name="startTime" data-toggle="remote"></span></span></div>')
    $eventContainer.append($eventElement)
    $eventElement.calendarEditor({
        content: '#tpl-event-popover',
        position: 'side',
        processResponse: function(responseData, $element, requestData) {
            doEventResponse(responseData, $element, requestData, $eventElement)
        },
        doCancel: function() {
            $eventElement.remove()
        },
        deleteProcessResponse: removeEvent
    })
    $('.popover-btn', $eventElement).click()
}
function appendEvent(event, type) {
    var startDate = event.startDate
    var endDate = event.endDate 
    if(startDate === endDate) {
        var $dayElement = $('[data-date=' + startDate + ']', $element)
        addEvent($dayElement, event);
    }
    else {
        var beginDate = $.lily.format.parseDate(event.startDate)
        var endDate = $.lily.format.parseDate(event.endDate)

        var weekFirstDayArray = calendar.getWeekFirstDayArray()
        var weekDay = weekFirstDayArray[0]
        for(var i = 1; i < weekFirstDayArray.length; ++i) {
            var nextWeekDay = weekFirstDayArray[i]
            var interval = nextWeekDay.minus(beginDate)
            var nextInterval = endDate.minus(weekDay)
            if(interval > 0 && nextInterval >= 0) {
                var $weekElement = $('.week[data-date=' + weekDay.format('yyyy-mm-dd') + ']', $element)
                var $eventContainer = $weekElement.children(".events")
                var eventStyle = calculateStyle(beginDate, endDate, weekDay, nextWeekDay)

                $eventElement = $(generateEventHtml(event, eventStyle ))
                $eventContainer.append($eventElement)
                $eventElement.calendarEditor({
                    content: '#tpl-event-popover',
                    position: 'side',
                    processResponse: doEventResponse,
                    deleteProcessResponse: removeEvent
                })
                var $spanned = $weekElement.find(".events.spanned")
                var $currentSpanned = $($spanned[0])
                $currentSpanned.append('<div class="spacer"></div>')
                for(var j = eventStyle.slot + 1; j < eventStyle.width + eventStyle.slot + 1; ++ j) {
                    $spanned.eq(j).append('<div class="spacer"></div>')
                }
            }
            weekDay = nextWeekDay
        }
    }
}

function queryEvents(startDate, endDate) {
    function callback(reponseData) {
        var todoItems = reponseData.todoItems
        for(var i in todoItems) {
            var todoItem = todoItems[i]
            var date = todoItem.deadline.substring(0,10)
            var $dayElement = $('.date[data-date=' + date + ']', $element)
            var $todoContainer = $('.todos', $dayElement)
            if($todoContainer.length == 0 ) {
                $todoContainer = $('<div class="events todos "></div>')
                $dayElement.append($todoContainer) 
            }
            var color = calendarColor['Project:' + todoItem.project_id]
            var description = todoItem.description
            if(description.length > 7 )
                description = description.substring(0, 7) + '...'
            var checkFlag = ''
            if(todoItem.done)
                checkFlag = 'checked'
            var $todoElement = $('<div class="event todo " data-bucket="Project:' + todoItem.project_id + '" style="color:#' + color + '">'
                + ' <span class="wrapper event">'
                + '<input type="checkbox" value="1" ' + checkFlag + ' data-behavior="toggle_todo" data-url="/project/' + todoItem.project_id 
                + '/todolist' + todoItem.todolist_id + '/todoitem/' + todoItem.id + '/done">'
                + '<span class="content">'
                + description + '</span></span></div>')
            $todoContainer.append($todoElement)
        }
        var projectEvents = reponseData.project_events
        for(var i in projectEvents ) {
            var event = projectEvents[i]
            appendEvent(event )
        }
        var calendarEvents = reponseData.calendar_events
        for(var i in calendarEvents ) {
            var event = calendarEvents[i]
            appendEvent(event )
        }
    }
    $.lily.ajax({
        url : '/{{teamId}}/event',
        data : {start_date: startDate, end_date: endDate},
    	type: 'get',
    	processResponse : callback
    });
}

$element.myCalendar({
    title: '#myCalendar_title',
    body: '#calendar_grid_singleton',
    jump: '#myCalendar_month_select',
    changer: queryEvents,
    selector: addNewEvent
})
var calendar = $element.data('myCalendar')

$('#invitees').autoAdd()

$('.toggle_calendar_list').click(function(){
    $('#calendar_display_singleton').toggleClass('calendar_list_visible')
})

$('#event_start_time').time()

$(document).on('click.bucket.data-api', '[data-behavior=toggle_bucket]', function (e) {
    var $btn = $(e.target)
    var bucket = $btn.parent().parent().attr("data-bucket")
    $('.event[data-bucket="' + bucket + '"]').toggle()
    $('.row[data-bucket="' + bucket + '"]').toggle()
})

})

{% end %}
{% block includeScript %}
<script src="{{ static_url("scripts/calendarEditor.js")}}" type="text/javascript"></script>
<script src="{{ static_url("scripts/lib/lily.time.js")}}" type="text/javascript"></script>
{% end %}
