{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block body%}
    <div class="container stack_container" style="width: 960px;">
        <div class="panel sheet project active">
            <header>
                <h1><a data-restore-position="" href="/project/{{project.id}}">{{project.title}}</a></h1>
            </header>
            <div class="panel sheet accesses" style="margin-left: 20px; margin-bottom: -20px;">
                <header>
                    <h1 style="padding-bottom: 10px; border-bottom: 1px solid #e5e5e5">成员管理</h1>
                    <p style="color: black; font-size: 15px">
                    </p>
                </header>
                <div class="sheet_body">
                    <div class="columns">
                        <div class="column">
                            <section class="invite">
                                <form action="/project/{{project.id}}/access" class="invite">
                                    <div class="slider accesses">
                                        <ul class="slides">
                                            <li class="slide active" style="width: 360px;">
                                                <h2>请输入被邀请人的邮箱:</h2>
                                                <div class="invitees" id="invitees">
                                                    <div class="person invitee field blank" >
                                                        <div class="autocomplete_people">
                                                            <div class="icon"></div>
                                                            <div class="input">
                                                                <input type="text" name="email[]" spellcheck="false" value="" data-toggle="remote">
                                                            </div>
                                                            <div class="suggestions" data-role="suggestions_view">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2>邀请信息(optional)</h2>
                                                <textarea name="message" data-toggle="remote"></textarea>
                                            </li>
                                        </ul>
                                    </dvi>
                                    <p class="submit">
                                        <button name="commit" data-toggle="submit" >发送邀请</button>
                                    </p>
                                </form>
                            </section>
                        </div>
                        <div class="column">
                            <section class="accesses">
                                {% for people in project.users %}
                                <article class="access">
                                    <div class="wrapper">
                                        <a data-replace-stack="true" href="/people/{{people.id}}">
                                            <img class="avatar" height="96" src="/avatar/{{people.avatar}}" title="{{people.name}}" width="96">
                                        </a>
                                        <h1>
                                            <a class="person_name" href="">{{people.name}}</a>
                                        </h1>
                                        <div class="email"><a href="mailto:{{people.email}}">{{people.email}}</a></div>
                                        <div class="controls">
                                            <div class="intro">
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                {% end %}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popover-arrow"></div>
</div>
{% end %}

{% block script %}
$(function(){
    $('#invitees').autoAdd()
})

{% end %}
