{% from tornado.options import options %}
{% if from_workspace %}
    {% block body %} fill by every page{% end %}
{% else %}
<!DOCTYPE html>
<html>
	<head>
        <title>{% block title %}MyTask{% end %}</title>
        <style>
            html {
                background: url(/static/images/wallpapers/paper.jpg) #f5efe6;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
        </style>
        {% block headArea %} 
        {% end %}
    </head>
    <body class="{% block bodyClass %}{% end %}">
        <header>
            <nav data-behavior="hover_global_nav" class="has_announcements">
                <div class="logo">
                    <a href="/about">MyTask</a>
                </div>
                <div class="global_links">
                    <a class="topnav_root" href="/{{teamId}}">项目</a>
                    <a class="topnav_calendar" href="/{{teamId}}/calendar">日历</a>
                    <a class="topnav_everything" href="/{{teamId}}/operation">回顾</a>
                    <a class="topnav_everyone" href="/{{teamId}}/people">团队</a>
                    <a class="topnav_me" href="/{{teamId}}/people/{{currentUser.id}}">我自己</a>
                </div>
                <div class="current_user">
                    <ul>
                        <li><a data-replace-stack="true" href="/settings">设置</a></li>
                        <li><a data-replace-stack="true" href="/team">创建团队</a></li>
                        <li><a data-method="delete" href="/signOut" rel="nofollow">退出</a></li>
                    </ul>
                </div>
                <div class="jumpto" data-behavior="jumpto">
                    <input type="text" id="autocomplete" data-behavior="placeholder" placeholder="搜索项目、成员或标签">
                    <div id="autocomplete_container" ></div>
                </div>
            </nav>
        </header>
        <div class="workspace" id="workspace">
            {% block body %} fill by every page{% end %}
        </div>
        <div class="footer">
        </div>

    </body>
</html>
{% end %}
