html {
  overflow-y: scroll;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin: 0 40px 40px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body > header {
  text-align: center;
  margin: 0 auto 10px auto;
  zoom: 1;
}
body > header > nav {
  zoom: 1;
  clear: both;
  position: relative;
  padding: 29px 0 20px 0;
  margin: 0 auto;
  max-width: 1040px;
  min-width: 985px;
}
body > header > nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
body > header div.logo {
  position: absolute;
  top: 23px;
  font-size: 40px;
}
body > header div.global_links {
  text-align: left;
  position: absolute;
  left: 150px;
  border-left: 1px solid #ded7c8;
  top: 34px;
  padding-left: 5px;
  text-shadow: 0 1px #fff;
  text-rendering: optimizeLegibility;
}
body > header div.global_links a {
  color: #7d7a75;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  width: 67px;
  padding: 0;
  text-align: center;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  transition: color 0.2s;
}
body > header div.global_links a.topnav_everyone {
  margin-left: 5px;
  padding-left: 8px;
  border-left: 1px solid #ded7c8;
}
body > header div.current_user {
  position: absolute;
  right: 23px;
  top: 4px;
}
body > header div.current_user li {
  text-align: left;
  font-size: 11px;
  line-height: 15px;
  color: #7d7a75;
  text-shadow: 0 1px 1px #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 4px;
}
body > header div.jumpto {
  width: 320px;
  float: right;
  margin: -1px 7px 0 0;
  position: relative;
  z-index: 999;
}
body > header div.jumpto input[type=text] {
  position: relative;
  z-index: 2;
  width: 90%;
  font-family: inherit;
  font-size: 14px;
  border: none;
  outline: none;
  background: #ffffff url(../images/search.png) no-repeat 10px center;
  padding: 8px 10px 8px 28px;
  color: #444;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
body.topnav_root a.topnav_root,
body.topnav_timeline a.topnav_timeline,
body.topnav_me a.topnav_me,
body.topnav_everything a.topnav_everything,
body.topnav_calendar a.topnav_calendar,
body.topnav_everyone a.topnav_everyone {
  font-weight: bold;
  color: #000;
}
div.workspace > div.container {
  margin: 0 auto;
  width: 960px;
}
div.workspace > div.stack_container div.sheet {
  width: 100%;
  display: inline-block;
}
img.avatar {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.clear,
footer,
header {
  clear: both;
}
section.details {
  margin-top: 5px;
}
section.details input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 5px;
  -webkit-appearance: none;
  border-radius: 0px;
  box-shadow: none;
}
form .submit {
  clear: both;
  font-size: 13px;
  min-height: 18px;
  vertical-align: baseline;
  margin: 10px 0 0;
}
body.users div#header {
  padding: 40px 10px;
  width: 660px;
  margin: 0 auto;
}
body.users div.products {
  margin: 30px auto 0;
  padding: 0 0 65px;
}
body.users div.product {
  width: 228px;
  padding: 0 10px;
  float: left;
}
body.users div.product > div.liner {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body.users div.product div.header {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
body.users div.product div.header div.liner {
  display: block;
  margin-right: 8px;
  height: 69px;
}
body.users div.product div.name {
  margin: 0 0 5px 0;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 0;
  text-align: center;
}
body.users div.product > div.liner div.accounts {
  margin-bottom: 0;
  padding: 0 0 8px;
  margin-bottom: 30px;
  background: #fff;
  text-align: center;
  zoom: 1;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
body.users div.account {
  text-align: center;
  position: relative;
  zoom: 1;
}
body.users div.account a {
  display: block;
  text-decoration: none;
  color: #333;
  border-top: 1px solid #ddd;
  padding: 10px 0 0;
  zoom: 1;
}
body.users div.account span.logo {
  margin: 0 auto 3px;
  width: 64px;
  height: 0;
  background: url("../images/logo_64.png") no-repeat left top;
  display: block;
  padding: 70px 0 0;
  overflow: hidden;
  text-decoration: none;
  border: none;
  background-color: none;
  position: relative;
}
div.panel.home_tab {
  margin-bottom: 150px;
  padding-top: 20px;
  min-height: 0;
  text-shadow: 0 1px #fff;
}
div.panel.home_tab > nav {
  width: 150px;
  position: absolute;
}
div.panel.home_tab > nav.projects_nav a {
  width: 80px;
  height: 105px;
  margin-top: -6px;
  background: url(../images/new_project.png) no-repeat;
}
div.panel.home_tab > nav.projects_nav a > span {
  left: -10px;
  bottom: 0;
  width: 101px;
  position: absolute;
  display: block;
  text-align: center;
  line-height: 14px;
  color: #1c5c76;
  text-decoration: underline;
}
div.panel.home_tab > nav a {
  position: relative;
  display: block;
  font-size: 13px;
  z-index: 2;
}
div.panel.home_tab > div#all_projects section,
div.panel.home_tab > section {
  margin-left: 150px;
}
div.panel.home_tab section.projects.cards article.card {
  width: 210px;
  height: 235px;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  text-align: left;
  background: #fff;
  padding: 15px;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.panel.home_tab section.projects.cards article.card h5 {
  font-size: 19px;
  margin: 0 0 3px;
  line-height: 1.1em;
  word-wrap: break-word;
}
div.panel.home_tab section.projects.cards article.card p {
  font-size: 16px;
  line-height: 1.2em;
  word-wrap: break-word;
  color: #aa9c84;
}
div.panel.home_tab section.projects.cards article.card div.people {
  position: absolute;
  left: 16px;
  bottom: 15px;
  zoom: 1;
}
div.panel.home_tab section.projects.cards div.row {
  zoom: 1;
}
#new_project_dialog {
  left: 0;
  right: 0;
  margin-top: 24px;
  bottom: 0;
}
#new_project_dialog article.new {
  position: relative;
  background: white;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#new_project_dialog article.new div.project {
  width: 600px;
  float: left;
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #ddd;
}
#new_project_dialog article.new div.project section.details {
  margin-bottom: 30px;
}
#new_project_dialog article.new div.project_gallery {
  width: 154px;
  float: left;
}
#new_project_dialog article.new div.project_gallery > header h2 {
  color: #cf3300;
  font-size: 14px;
  line-height: 1.1em;
  margin-bottom: 20px;
}
#new_project_dialog article.new div.project_gallery h3 {
  font-size: 16px;
  margin: 10px 0 0;
}
#new_project_dialog article.new div.project_gallery p {
  color: #aa9c84;
  margin: 0;
}
section.details section.details input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border: 0;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 5px;
  -webkit-appearance: none;
  border-radius: 0px;
  box-shadow: none;
}
section.details #project_name {
  display: block;
  padding: 10px;
  font-size: 20px;
}
section.invite {
  font-size: 14px;
  line-height: 19px;
  padding: 0px 30px 20px 0px;
  margin-bottom: 20px;
}
section.invite div.invitees {
  margin-bottom: 20px;
}
section.invite article.person {
  width: 180px;
  float: left;
  margin: 10px 10px 25px 0;
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
  background: #eee;
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
section.invite article.person.selected {
  background: #e1eccb url(../images/icon-check.png) 155px 45px no-repeat;
  color: #668833;
}
section.invite article.person img {
  float: left;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
div.sheet.project > header {
  margin: 0;
  padding: 30px 30px 0px 30px;
  position: relative;
  text-rendering: optimizeLegibility;
}
div.sheet.project > header h1 {
  font-size: 24px;
  line-height: 28px;
  min-height: 29px;
  color: #000;
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
  text-rendering: auto;
  word-wrap: break-word;
  max-width: 600px;
}
div.sheet.project > header div.header_links {
  float: right;
  margin-top: 7px;
  padding-bottom: 10px;
  text-rendering: optimizeLegibility;
}
div.sheet.project > header div.header_links a {
  float: left;
  line-height: 1.0em;
  margin-left: 20px;
  text-decoration: none;
}
div.sheet.project > header div.header_links a span.link {
  color: #1c5c76;
  text-decoration: underline;
}
div.sheet.project > header div.header_links a span.detail {
  font-size: 10px;
  color: #aa9c84;
  text-decoration: none;
}
div.sheet.project > header div.collapsed_content,
div.sheet.project > header div.expanded_content {
  max-width: 600px;
  padding-right: 22px;
}
div.sheet.project > header div.position_reference {
  display: inline-block;
  position: relative;
}
div.sheet.project > header .field {
  border-bottom: 1px dotted transparent;
  cursor: text;
}
div.sheet.project > header div.description {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 5px;
  min-height: 19px;
  color: #aa9c84;
  text-rendering: auto;
  word-wrap: break-word;
}
div.sheet.project > header div.project_toolbar {
  margin-top: 10px;
  clear: both;
  text-rendering: optimizeLegibility;
}
div.sheet.project > header div.tools {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
  overflow: hidden;
}
div.sheet.project > header div.tools div.group {
  float: left;
  padding: 5px 0;
  font-size: 14px;
}
div.sheet.project > header div.tools a {
  color: #1c5c76;
  ext-decoration: underline;
  float: left;
  margin-right: 15px;
  padding: 0;
}
div.sheet.project > div.sheet_body {
  padding-bottom: 10px;
}
div.sheet.project > div.sheet_body > section {
  padding: 5px 0 20px 0;
}
div.sheet.project > div.sheet_body > section .topics {
  padding-top: 0px;
  padding-bottom: 20px;
}
div.sheet.project > div.sheet_body > section > header {
  padding: 10px 0;
  position: relative;
}
div.sheet.project > div.sheet_body > section > header h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  color: #900;
  -webkit-font-smoothing: antialiased;
}
div.sheet.project section.grouped_by_date article > table > tbody > tr > td {
  height: 60px;
  vertical-align: middle;
}
div.sheet.project section.grouped_by_date article > table > tbody > tr > td.text h3 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin: 0;
  color: black;
  max-width: 600px;
}
div.sheet.project section.grouped_by_date article > table > tbody > tr > td.text div.authorship {
  clear: left;
  max-width: 600px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.sheet.project section.grouped_by_date article > table > tbody > tr > td.text div.authorship p.meta {
  max-width: 480px;
  font-size: 12px;
  color: #999;
  margin: 0;
}
div.sheet.project section.grouped_by_date article > table > tbody > tr > td.text div.authorship p.actions a {
  color: #1c5c76;
  text-decoration: underline;
}
div.sheet.project section.grouped_by_date article > table > tbody > tr > td.icon {
  text-align: right;
  width: 120px;
}
table.inbox tr + tr td {
  border-top: 1px solid #ececec;
}
table.inbox a {
  padding: 0;
  display: block;
}
table.inbox td {
  font-size: 14px;
  padding: 4px 0;
  vertical-align: top;
}
table.inbox td.avatar {
  min-width: 40px;
  width: 40px;
}
table.inbox td.who {
  width: 1%;
  white-space: nowrap;
  text-align: left;
}
table.inbox td.who a {
  padding: 5px 14px 5px 0;
  display: block;
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.inbox td.what {
  max-width: 460px;
  line-height: 18px;
  padding-bottom: 0;
  padding-top: 6px;
}
table.inbox td.what strong {
  color: #1c5c76;
  text-decoration: underline;
}
table.inbox td.what > a {
  overflow: hidden;
  position: relative;
  max-height: 30px;
  padding: 5px 0;
  margin-bottom: 8px;
}
table.inbox td.what span.excerpt {
  color: #666;
}
table.inbox td.when {
  width: 1%;
  white-space: nowrap;
  text-align: right;
}
table.inbox td.when a {
  padding: 5px 0 5px 30px;
  color: #aa9c84;
}
table.inbox td.comments {
  border: none;
  padding-top: 8px;
}
table.inbox td.comments span.pill.comments {
  margin: 0 0 0 10px;
}
article.todolist header h3 {
  font-size: 15px;
  margin-bottom: 0;
}
article.todolist header h3 > a {
  color: #1c5c76;
  text-decoration: underline;
}
article.todolist.expanded.new header.expanded_content {
  margin-bottom: 30px;
  margin-top: 3px;
}
article.todolist.expanded header.expanded_content header {
  padding: 0;
  border: none;
  box-shadow: none;
}
article.todolist.expanded header.expanded_content header h3 {
  border-bottom: none;
  margin-left: -1px;
  padding-left: 0;
  padding-bottom: 5px;
}
article.todolist.expanded header.expanded_content header input {
  padding: 5px 0;
  border-bottom: 1px dotted #b3b3b3;
}
article.todolist > ul {
  position: relative;
  list-style: none;
  margin: 0 0 0 7px;
  min-height: 6px;
}
article.todolist > ul > li {
  margin-top: 5px;
  padding-left: 19px;
  line-height: 20px;
  padding-right: 110px;
  clear: both;
  word-wrap: break-word;
}
article.todolist > ul > li > div > span.wrapper {
  position: relative;
  margin-left: -19px;
  padding-left: 20px;
}
article.todolist > ul > li > div > span.wrapper > input[type=checkbox] {
  margin-left: -20px;
  margin-right: 2px;
  vertical-align: top;
  margin-top: 3px;
  font-size: larger;
}
article.todolist > ul > li form {
  display: inline;
}
article.todolist > ul > li form > textarea {
  width: 460px;
  margin: 0px 5px 0px 2px;
  line-height: 17px;
  height: 18px;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 1px dotted #b3b3b3;
  box-shadow: none;
}
ul.todolists {
  margin-top: 8px;
  position: relative;
}
ul.todolists > li {
  margin: -10px 0 10px 0;
  padding: 10px 0 10px 0;
}
div.nubbin {
  display: none;
  position: absolute;
  left: 0;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
  padding: 0 0 0 5px;
  margin: -1px 0 0;
  min-width: 40px;
  background: #fff;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
}
div.nubbin > div.spacer {
  width: 10px;
  display: inline-block;
  margin: -1px 0;
  height: 25px;
  background: #fff;
  float: right;
}
div.nubbin > a {
  float: left;
  vertical-align: top;
  margin: 0 1px;
  padding: 2px 2px 1px;
  text-decoration: none;
}
div.nubbin > a.image {
  height: 0;
  padding: 22px 4px 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
}
div.nubbin > a.image.delete {
  width: 10px;
  background-image: url(../images/trash.gif);
}
div.sheet > header > p {
  font-size: 13px;
  color: #777;
}
div.sheet > header > p a {
  color: #1c5c76;
  text-decoration: underline;
}
div.sheet.message.new > div.sheet_body {
  padding: 0;
}
div.sheet.message.new > div.sheet_body article {
  margin: 0;
  padding: 0;
}
div.sheet.message.new > div.sheet_body article header {
  margin: 0;
  padding: 30px 65px 25px;
  border-bottom: 1px solid #ccc;
}
div.sheet.message.new > div.sheet_body article header h3 {
  margin: 0;
}
div.sheet.message.new > div.sheet_body article header h3 textarea {
  outline: none;
  padding: 0 0 2px;
  margin: 0;
  border: 0;
  font-size: 28px;
  line-height: 30px;
  font-weight: normal;
  min-height: 31px;
  width: 830px;
  -webkit-appearance: none;
}
div.sheet.message.new > div.sheet_body article form div.attachments {
  border: none;
  border-top: 1px solid #ccc;
  min-height: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
div.sheet.message.new > div.sheet_body article form div.attachments .prompt_graphic {
  left: 44px;
}
div.sheet.message.new > div.sheet_body article form div.attachments div.file_input_button {
  margin-left: 54px;
}
div.sheet.message.new > div.sheet_body article form div.attachments ul.pending_attachments {
  margin: 0 0 0 54px;
  padding: 0;
}
div.sheet.message.new > div.sheet_body article footer {
  margin: 0;
  background: #fff;
  padding: 12px 65px;
  width: 960px;
  font-size: 13px;
  line-height: 17px;
  border-top: 1px solid #ccc;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form.new_message .editor_toolbar {
  margin: 0 0 25px;
  padding: 0 65px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
form.new_message .editor_toolbar > a {
  padding: 0 14px;
  font-size: 11px;
  line-height: 23px;
  height: 22px;
  color: #000;
  text-decoration: none;
  text-align: center;
  float: left;
  background: #fff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-right: -1px;
  text-rendering: optimizeLegibility;
}
form.new_message .wysihtml5-sandbox {
  padding: 0px 65px;
}
.wysihtml5-sandbox {
  border-collapse: separate;
  border: 0px none #000000;
  clear: none;
  display: inline-block;
  float: none;
  margin: 0px;
  outline: #000000 none 0px;
  outline-offset: 0px;
  position: static;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  z-index: auto;
  vertical-align: baseline;
  text-align: start;
  box-sizing: content-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  resize: none;
  min-height: 200px;
}
.editor_toolbar:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.editor_btn_bold {
  font-weight: bold;
}
.editor_btn_italic {
  font-style: italic;
}
article.message {
  word-wrap: break-word;
}
article.message > header {
  margin-bottom: 20px;
  max-width: 750px;
}
article.message > header p {
  color: #aa9c84;
  display: inline-block;
  vertical-align: middle;
}
article.message img.avatar {
  float: left;
  width: 59px;
  height: 59px;
  margin-top: -4px;
  margin-bottom: 10px;
}
article.message > div.formatted_content {
  margin-left: 78px;
}
div.image_grid_view > table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 10px 0px;
  width: 100%;
}
div.formatted_content {
  max-width: 540px;
  padding-bottom: 19px;
}
.attachment_tool {
  display: none;
}
section.comments article.comment {
  background-color: #fff;
  margin: 0 0 20px 78px;
  padding: 0;
  position: relative;
  min-height: 71px;
}
section.comments article.comment.edit_mode {
  background: #fafafa;
  padding: 9px 20px 9px 20px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  margin-left: 70px;
}
section.comments article.comment img.avatar {
  position: absolute;
  left: -78px;
  top: 0;
  margin: 0;
  width: 59px;
  height: 59px;
}
section.comments > h4 {
  font-size: 16px;
  font-weight: normal;
  padding: 10px 0 5px;
  margin: 10px 0;
  border-top: 1px solid #e5e5e5;
}
section.comments > h4 article.comment {
  background-color: #fff;
  margin: 0 0 20px 78px;
  padding: 0;
  position: relative;
  min-height: 71px;
}
section.comments > h4 article.comment img.avatar {
  position: absolute;
  left: -78px;
  top: 0;
  margin: 0;
  width: 59px;
  height: 59px;
}
form.new_comment .editor_toolbar > a {
  padding: 0 14px;
  font-size: 12px;
  line-height: 23px;
  height: 22px;
  color: #000;
  text-decoration: none;
  text-align: center;
  float: left;
  background: #fff;
  border: 1px solid #ccc;
  margin-right: -1px;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: 0px 1px 0px #ddd;
  -moz-box-shadow: 0px 1px 0px #ddd;
  box-shadow: 0px 1px 0px #ddd;
}
form.new_comment .editor_toolbar > a:first-of-type {
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
form.new_comment .editor_toolbar > a:last-of-type {
  border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
div.edit_mode .attachment_tool,
article.edit_mode .attachment_tool {
  display: block;
}
.edit_mode input[type=text] {
  padding: 5px 0;
  color: black;
  padding: 0;
  margin: 0;
  width: 99%;
  background: #fff;
  border: none;
  border-bottom: 1px dotted #b3b3b3;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
}
div.edit_mode input {
  width: 885px;
  border: 0px;
  border-bottom: 1px solid #ccc;
  font-size: 28px;
  line-height: 30px;
  font-weight: normal;
}
div.calendar_container {
  width: 100% !important;
}
div.calendar_display div.left {
  position: relative;
  width: 280px;
  padding-top: 20px;
}
div.calendar_display div.left > aside {
  width: 260px;
  -webkit-transition: padding-top 150ms ease-in-out, opacity 150ms ease-in-out;
  padding-top: 100px;
  opacity: 0;
}
div.calendar_display div.left > aside div.new_calendar_event {
  float: right;
}
div.calendar_display div.left > aside div.new_calendar_event > a {
  font-size: 11px;
}
div.calendar_display div.left > aside section.calendars > h4 {
  margin: 0 0 12px 0;
  color: #7d7a75;
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid #dcd9d3;
  padding-bottom: 3px;
}
div.calendar_display div.left > aside section.calendars > ul li {
  position: relative;
  margin: 5px 0;
  font-size: 13px;
  padding-left: 27px;
  line-height: 17px;
}
div.calendar_display div.left > aside section.calendars > ul li > a {
  vertical-align: top;
  display: inline-block;
  word-break: break-all;
  word-wrap: break-word;
  color: #1c5c76;
  text-decoration: underline;
}
div.calendar_display div.left > aside section.calendar_feeds {
  margin-top: 30px;
}
div.calendar_display div.right {
  -webkit-transition: left 300ms ease-in-out;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
  padding-bottom: 40px;
}
div.calendar_display button.toggle_calendar_list.hide {
  display: none;
}
div.calendar_display button.toggle_calendar_list.show {
  display: block;
}
div.calendar_display div.sheet {
  padding: 20px;
  display: block !important;
  width: auto !important;
}
div.calendar_display.calendar_list_visible div.right {
  left: 300px;
}
div.calendar_display.calendar_list_visible div.left > aside {
  -webkit-transition: padding-top 150ms 150ms ease-in-out, opacity 150ms 150ms ease-in-out;
  padding-top: 0;
  opacity: 1;
}
div.calendar_display.calendar_list_visible button.toggle_calendar_list.show {
  display: none;
}
div.calendar_display.calendar_list_visible button.toggle_calendar_list.hide {
  display: block;
}
div.calendar_display div.sheet nav {
  position: absolute;
  right: 0;
  top: 0;
}
div.calendar_display div.sheet button.prev {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-right: none;
}
div.calendar_display div.sheet button.next {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  margin: -1px 10px 0px -4px;
}
div.calendar_display div.sheet > header h1 {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
div.calendar_display div.sheet > header h1 > a {
  display: inline-block;
  padding: 0 25px;
  white-space: nowrap;
  position: relative;
  color: #1c5c76;
  text-decoration: underline;
}
div.calendar_display div.sheet div.position_reference {
  height: 1px;
  width: 1px;
  margin: -1px auto 0 auto;
  position: relative;
}
div.calendar_display div.sheet div.calendar_jump.balloon {
  top: 12px;
  left: -282px;
  width: 560px;
  padding: 20px 0 15px 0;
}
div.calendar_display div.sheet div.calendar_jump.balloon .arrow {
  left: 270px;
}
div.calendar_display div.sheet div.calendar_jump.balloon td {
  width: 98%;
}
div.calendar_display div.sheet div.calendar_jump.balloon td.nav {
  width: 1%;
}
div.calendar_display div.sheet div.calendar_jump.balloon dl {
  float: left;
  margin-bottom: 3px;
}
div.calendar_display div.sheet div.calendar_jump.balloon dt,
div.calendar_display div.sheet div.calendar_jump.balloon dd {
  float: left;
  margin: 0 1px;
  font-size: 14px;
}
div.calendar_display div.sheet div.calendar_jump.balloon dd a {
  float: left;
  display: block;
  padding: 2px 4px 4px 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
div.calendar_display div.days_of_week {
  display: table;
  table-layout: fixed;
  width: 100%;
}
div.calendar_display div.days_of_week div.days {
  display: table-row;
}
div.calendar_display div.days_of_week div.days div.day {
  display: table-cell;
  width: 14.28571%;
  text-align: center;
  font-size: 11px;
  padding: 0 0 3px 0;
  color: #666;
}
div.calendar_display div.week {
  position: relative;
}
div.calendar_display div.week div.events {
  width: 100%;
}
div.calendar_display div.week div.events.spanned {
  position: absolute;
  top: 24px;
  height: 0;
}
div.calendar_display div.week div.dates_wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
}
div.calendar_display div.week div.dates {
  display: table-row;
}
div.calendar_display div.week div.dates div.date {
  display: table-cell;
  overflow: hidden;
  width: 14.28571%;
  border-right: 1px solid #dcd9d3;
  border-top: 1px solid #dcd9d3;
  height: 90px;
  margin: 0;
  padding: 0 0 10px 0;
  line-height: normal;
}
div.calendar_display div.week div.dates div.date.current_month div.day {
  color: #666;
}
div.calendar_display div.week div.dates div.date.today {
  background: #ffc;
}
div.calendar_display div.week div.dates div.date div.day {
  font-size: 11px;
  text-align: right;
  color: #dcd9d3;
  height: 18px;
  padding: 6px 8px 0 0;
}
div.calendar_display div.week div.dates div.date div.events.spanned {
  position: relative;
  top: auto;
  height: auto;
  zoom: 1;
}
div.calendar_display div.week div.dates div.date div.todos > div.todo {
  text-indent: 0;
  padding-left: 27px;
}
div.calendar_display div.week div.dates div.date div.todos > div.todo > span.wrapper {
  margin-left: -19px;
  position: relative;
}
div.calendar_display div.week div.dates div.date div.todos > div.todo > span.wrapper > input[type=checkbox] {
  vertical-align: baseline;
  margin: 0 2px 0 0;
  padding: 0;
  display: inline-block;
}
div.calendar_display div.week div.dates div.date div.event {
  padding: 0 8px 0 15px;
  text-indent: -7px;
  overflow: hidden;
}
div.calendar_display div.week div.dates div.date div.event span.event {
  font-size: 12px;
  cursor: pointer;
}
div.calendar_display div.week div.event {
  min-height: 16px;
  line-height: 13px;
  word-break: break-word;
}
div.calendar_display .swatch {
  display: inline-block;
  margin: 0 3px -4px -27px;
  border: 2px solid #fff;
  vertical-align: baseline;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.calendar_display .swatch > a {
  display: block;
  padding: 0;
  height: 14px;
  width: 16px;
}
div.calendar_display .swatch > a.selected {
  background: transparent url(../images/swatch_checkmark.png) no-repeat center center;
}
section.global_activity {
  margin: 20px auto 0;
  text-shadow: 0 1px #fff;
}
section.global_activity h1 {
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
}
section.stream {
  color: #777;
}
section.stream div.day {
  width: 100px;
  margin-left: 423px;
  color: black;
}
section.stream div.day a {
  display: block;
  width: 98px;
  height: 94px;
  background: white;
  font-weight: bold;
  border: 7px solid #dcd9d3;
  text-decoration: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
section.stream div.day a > span {
  display: table-cell;
  width: 98px;
  height: 97px;
  vertical-align: middle;
  text-align: center;
  line-height: 16px;
  font-size: 17px;
}
section.stream div.day a > span > span {
  text-decoration: underline;
}
section.stream div.day a > span time {
  display: block;
  font-weight: normal;
  font-size: 11px;
  color: #bbb;
}
section.stream div.project {
  zoom: 1;
  font-size: 15px;
  width: 475px;
  word-wrap: break-word;
  color: black;
  font-weight: bold;
  border-bottom: 7px solid #dcd9d3;
  padding-top: 2px;
  padding-bottom: 2px;
}
section.stream div.project.left {
  border-right: 7px solid #dcd9d3;
}
section.stream div.project.right {
  padding-left: 10px;
  border-left: 7px solid #dcd9d3;
  margin-left: 475px;
}
section.stream div.project > a {
  color: #1c5c76;
  text-decoration: underline;
}
section.stream article.event {
  zoom: 1;
  font-size: 15px;
  width: 475px;
  word-wrap: break-word;
}
section.stream article.event > div.time {
  width: 60px;
  padding: 12px 10px 0;
  color: #aa9c84;
  font-size: 13px;
}
section.stream article.event.left {
  border-right: 7px solid #dcd9d3;
}
section.stream article.event.left div.action {
  padding-right: 15px;
}
section.stream article.event.left div.time {
  float: right;
  text-align: right;
}
section.stream article.event.right {
  border-left: 7px solid #dcd9d3;
  margin-left: 475px;
}
section.stream article.event.right div.time {
  float: left;
}
section.stream article.event > div.avatar {
  padding: 12px 0 0 0;
  width: 50px;
  float: left;
}
section.stream article.event > div.action {
  padding: 12px;
  color: black;
  font-size: 15px;
  line-height: 1.2em;
  width: 320px;
  margin-left: 50px;
  word-wrap: break-word;
  font-weight: bold;
}
section.stream div.project:after,
section.stream article.event:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div.panel.global_invite div.step {
  background: white;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  color: brown;
  border: 7px solid #dcd9d3;
  -webkit-border-radius: 80px 80px 80px 0;
  -moz-border-radius: 80px 80px 80px 0;
  border-radius: 80px 80px 80px 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
div.panel.global_invite div.step span {
  font-size: 16px;
  width: 85px;
  height: 85px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
div.panel.global_invite div.row div.vertical {
  width: 0;
  height: 40px;
  border-left: 7px solid #dcd9d3;
  margin: 0 auto;
}
div.panel.global_invite div.row section {
  background: white;
  width: 50%;
  margin: 0 auto;
  padding: 25px 25px 10px;
  border: 7px solid #dcd9d3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
div.panel.global_invite div.row section.invite {
  padding-bottom: 25px;
}
div.panel.global_invite div.row section.done {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
div.panel.global_invite div.row section.done p {
  color: #777;
}
div.panel.global_invite div.row section > header > h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
div.panel.global_invite div.row p {
  margin-bottom: 3px;
  line-height: 16px;
}
div.panel.global_invite div.row button[data-toggle="submit"] {
  margin: 0 auto 10px;
  padding: 10px 30px;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #8fc857;
  background-image: -moz-linear-gradient(#8fc857, #5c9425);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fc857), to(#5c9425));
  background-image: -webkit-linear-gradient(#8fc857, #5c9425);
  background-image: -ms-linear-gradient(#8fc857, #5c9425);
  background-image: linear-gradient(#8fc857, #5c9425);
  border: 1px solid #561;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
div.panel.global_invite table th {
  min-width: 14px;
  text-align: left;
  vertical-align: top;
  line-height: 16px;
  padding-bottom: 9px;
}
div.panel.global_invite table th input[type=checkbox] {
  font-size: medium;
}
div.panel.people_index section.people {
  margin-bottom: 30px;
}
div.panel.people_index section.people.cards article.person {
  width: 140px;
  float: left;
  margin: 0 62px 15px 0;
  padding-bottom: 10px;
  text-align: center;
  word-wrap: break-word;
}
div.panel.people_index section.people.cards article.person h3 {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
  margin-top: 0px;
  color: #1c5c76;
  text-decoration: underline;
}
div.panel.people_index nav.people_nav a {
  width: 83px;
  height: 98px;
  margin-top: -6px;
  background-repeat: no-repeat;
  background-image: url(../images/people_buttons.png);
}
div.panel.people_index nav.people_nav a > span {
  left: -11px;
  bottom: 0;
  width: 102px;
}
div.panel.home_tab > nav a > span {
  position: absolute;
  display: block;
  text-align: center;
  line-height: 14px;
  color: #1c5c76;
  text-decoration: underline;
}
section.invite {
  font-size: 14px;
  line-height: 19px;
  padding: 0px 30px 20px 0px;
  margin-bottom: 20px;
}
section.invite div.invitees {
  margin-bottom: 20px;
}
section.invite div.invitee.field {
  position: relative;
  margin: 0px;
  border: 0px;
  height: 30px;
}
section.invite div.invitee.field div.icon {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: 0px 0px url(../images/invitee_field_icons.png) no-repeat;
}
section.invite div.invitee.field div.input {
  position: absolute;
  left: 30px;
  bottom: 0px;
  right: 0px;
  border-bottom: 1px dotted #bbb;
}
section.invite div.invitee.field input {
  display: block;
  position: absolute !important;
  background: transparent !important;
  left: 0;
  bottom: -4px;
  width: 100%;
  border: 0;
  font-size: 14px;
  line-height: 25px;
  padding: 3px 0px 2px !important;
  height: 30px;
  outline: none;
  color: #000;
}
div.sheet.person.overview > header.person {
  margin: 0;
  padding: 20px 30px 10px !important;
  background: rgba(0, 0, 0, 0.04);
  text-shadow: 1px 1px #fff;
  border: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04) !important;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  zoom: 1;
}
div.sheet.person.overview > header.person:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div.sheet.person.overview > header.person figure {
  float: left;
  margin-bottom: 0;
  margin-right: 20px;
}
div.sheet.person.overview > header.person h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  color: #000;
  margin: 10px 0 0;
  border: 0;
}
div.sheet.person.overview > header.person h3 {
  font-size: 16px;
  font-weight: normal;
}
div.sheet.person.overview > div.sheet_body {
  margin-top: 30px;
}
div.sheet.person.overview > div.sheet_body section {
  padding: 0 0 30px 0;
  position: relative;
}
div.sheet.person.overview > div.sheet_body section > header.left {
  height: auto;
  margin-left: 0;
  margin-bottom: 12px;
  border: 0 !important;
}
div.sheet.person.overview > div.sheet_body section > header.left h1 {
  color: brown;
  font-weight: normal;
  font-size: 18px;
}
article.today_todo {
  padding: 10px;
  position: relative;
  min-height: 60px;
  background: #fcf6c0;
  margin-bottom: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}
article.today_todo h5 {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 116px;
  height: 75px;
  padding: 0;
  overflow: hidden;
  background: url("../images/member-todo-today.png") no-repeat left top;
  color: #a39c68;
  text-indent: -999px;
  opacity: .5;
}
article.today_todo div.nubbin {
  background: #fcf6c0;
}
article.today_todo div.nubbin > div.spacer {
  background: #fcf6c0;
}
.popover .popover-content {
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.popover select {
  display: block;
  margin: 4px 0px 6px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.popover h3 {
  font-size: 12px;
  color: #000000;
  line-height: 1;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
}
.popover .popover-arrow {
  width: 10px;
  height: 12px;
  background: url(../images/popover-arrow.png) no-repeat 0 0;
  position: absolute;
}
.popover .popover-buttons {
  margin: 10px 0 5px 0;
  *zoom: 1;
}
.popover .popover-buttons:before,
.popover .popover-buttons:after {
  display: table;
  content: "";
}
.popover .popover-buttons:after {
  clear: both;
}
.popover .popover-buttons button {
  float: left;
  padding: 6px 10px;
}
.popover .popover-buttons a {
  display: block;
  float: left;
  color: #666666;
  line-height: 32px;
  font-size: 12px;
  margin: 0 0 0 10px;
}
.popover .popover-buttons a:hover {
  color: #0066aa;
}
.popover.direction-right-bottom .popover-arrow {
  background-position: 0 -20px;
  top: 15px;
  left: -9px;
}
.popover.direction-right-top .popover-arrow {
  background-position: 0 -20px;
  bottom: 15px;
  left: -9px;
}
.popover.direction-top-right .popover-arrow {
  background-position: 0 -20px;
  bottom: 15px;
  left: -9px;
}
.popover.direction-bottom-right .popover-arrow {
  background-position: 0 -20px;
  top: 15px;
  left: -9px;
}
.popover.direction-top-left .popover-arrow {
  background-position: 0 -31px;
  bottom: 15px;
  right: -9px;
}
.popover.direction-bottom-left .popover-arrow {
  background-position: 0 -31px;
  top: 15px;
  right: -9px;
}
.no-due-date {
  font-size: 12px;
  text-align: center;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.backdrop,
.backdrop.fade.in {
  opacity: 0.1;
  filter: alpha(opacity = 10);
}
.datepicker {
  font-size: 12px;
}
.lily-calendar-head {
  position: relative;
}
.lily-calendar-head a {
  position: absolute;
  width: 9px;
  height: 7px;
  margin: 6px 0px 0px 0px;
}
.lily-calendar-head .prev {
  left: 0px;
  background: url('../images/arrow-prev.png') no-repeat;
}
.lily-calendar-head .next {
  right: 0px;
  background: url('../images/arrow-next.png') no-repeat;
}
.lily-calendar-head .prev:hover,
.lily-calendar-head .next:hover {
  opacity: 0.5;
}
.lily-datepicker-title {
  width: 100%;
  float: left;
  height: 21px;
  text-align: center;
  line-height: 21px;
}
.lily-calendar-area {
  position: relative;
  height: 21px;
}
.lily-week-area {
  position: relative;
  width: 100%;
}
.lily-week-head {
  width: 100%;
  text-align: center;
  border-spacing: 1px;
}
.lily-week-head td {
  width: 14%;
  font-size: 12px;
}
.lily-days-table {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
  border-color: black;
  margin-top: 5px;
}
.lily-days-table td {
  padding: 0px;
  width: 14%;
  cursor: pointer;
  font-size: 12px;
  border-bottom: 2px solid #fff;
}
.lily-days-table .today {
  color: white;
  background-color: #0f769f;
}
.off-month {
  background: #ffffff;
  color: #cccccc;
  cursor: default;
  opacity: 0.6;
}
.on-month {
  background: #E0E8F6;
  color: #333333;
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}
.on-month:hover {
  background: #cbe0ff;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
ul {
  list-style: none;
}
ul,
ol {
  margin: 0 0 10px;
}
input {
  outline: none;
}
span.pill {
  font-size: 12px;
  line-height: 16px;
  padding: 0 7px;
  background: #eee;
  border: 1px solid transparent;
  color: #666;
  white-space: nowrap;
  display: inline-block;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
span.pill.delay {
  color: #d45d51;
  background: #fbdbdb;
}
span.pill.comments {
  background: #e2e9f8;
  color: #1c5c76 !important;
}
span.pill.circle {
  min-width: 17px;
  padding: 2px 1px;
  line-height: 14px;
  text-align: center;
}
.text_entry {
  color: #a9a9a9;
  background: #fff;
  padding: 19px;
  border: 1px solid #ccc;
  position: relative;
  margin: 0;
  -webkit-box-shadow: 0 2px 0 #ddd;
  -moz-box-shadow: 0 2px 0 #ddd;
  box-shadow: 0 2px 0 #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
}
.text_entry input[type=text] {
  color: black;
  padding: 0;
  margin: 0;
  width: 99%;
  background: #fff;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
  box-shadow: none;
}
.action_button {
  font-size: 11px;
  line-height: 16px;
  padding: 2px 10px;
  margin: -1px 0 0;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  vertical-align: top;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #ddd;
  -moz-box-shadow: 0px 1px 0px #ddd;
  box-shadow: 0px 1px 0px #ddd;
}
.action_button.green {
  vertical-align: baseline;
  margin-top: 0;
  border-color: #016c43;
  background-color: #00a264;
  font-size: 12px;
  line-height: 17px;
  padding: 3px 12px;
  color: #fff;
  -webkit-box-shadow: 0px 1px 0px #016c43;
  -moz-box-shadow: 0px 1px 0px #016c43;
  box-shadow: 0px 1px 0px #016c43;
}
div.sheet {
  min-height: 480px;
  background: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div.sheet.inactive {
  padding: 0;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
}
div.sheet.inactive > header {
  padding: 10px 20px;
  margin: 0;
  background: none;
  border: none;
}
div.sheet.inactive div.sheet {
  margin: 0 -20px -30px 20px;
}
div.sheet.has_sidebar > div.sheet_body {
  display: inline-block;
  vertical-align: top;
  width: 645px;
  padding-right: 0;
}
div.sheet.has_sidebar > aside {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding: 0 0 20px 40px;
  text-align: left;
  font-size: 13px;
}
div.sheet.has_sidebar > aside > p {
  margin-bottom: 10px;
}
div.sheet.has_sidebar > aside select {
  width: 70%;
}
div.sheet > header {
  margin: 30px 30px 20px 30px;
  position: relative;
}
div.sheet > header h1 {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}
div.sheet > header.has_buttons {
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
div.sheet > header.has_buttons h1 {
  float: left;
  padding-right: 15px;
  padding-bottom: 0;
  border: none !important;
}
div.sheet div.sheet_body {
  padding: 0 45px 80px 30px;
}
div.sheet div.sheet_body > section > header.has_buttons h1 {
  float: left;
  padding-right: 15px;
  padding-bottom: 0;
  border: none !important;
}
div.sheet section.event_stream {
  padding: 0 45px 20px 30px;
  font-size: 12px;
  font-weight: bold;
  color: #1c5c76;
}
a.decorated {
  color: #1c5c76;
  text-decoration: underline;
}
form div.attachments {
  padding: 12px;
  position: relative;
  white-space: nowrap;
  font-size: 13px;
  line-height: 17px;
  border: 1px dashed #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
form div.attachments .prompt_graphic {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 5px;
  border: none;
  width: 18px;
  height: 0;
  padding: 18px 0 0;
  display: block;
  overflow: hidden;
  background: url(../images/paperclip.png);
}
form div.attachments div.file_input_button {
  float: none;
  color: #888;
  margin-left: 15px;
}
form div.attachments ul.pending_attachments {
  margin: 10px 0 0 13px;
  padding-top: 42px;
}
div.file_input_button {
  display: inline-block;
  overflow: hidden;
  position: relative;
  float: right;
}
div.file_input_button span.file_input_container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
}
div.file_input_button span.file_input_container input[type=file] {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  -moz-opacity: 0.01;
  opacity: 0.01;
}
div.file_input_button a {
  outline: none;
}
.button:hover,
.button:active,
.minibutton:hover,
.minibutton:active {
  text-decoration: none;
  background-color: #dadada;
  background-image: -moz-linear-gradient(#eaeaea, #dadada);
  background-image: -webkit-linear-gradient(#eaeaea, #dadada);
  background-image: linear-gradient(#eaeaea, #dadada);
  background-repeat: repeat-x;
  border-color: #cccccc #cccccc #b5b5b5;
}
.has_tools {
  position: relative;
}
aside.tools {
  position: absolute;
  right: -45px;
  top: 0;
  padding-left: 10px;
  padding-bottom: 6px;
  background-color: #fff;
  overflow: visible !important;
}
aside.tools > .tool {
  width: 115px;
  display: block;
  float: right;
  clear: both;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-top: -1px;
  padding: 5px 20px 4px 0;
  min-height: 21px;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
}
aside.tools > .tool:first-child {
  border-top: none;
}
aside.tools > .tool a {
  padding: 0;
  color: #1c5c76;
  text-decoration: underline;
}
.new_comment_entry {
  color: #a9a9a9;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
  margin: 0 300px 0 0;
  -webkit-box-shadow: 0 2px 0 #ddd;
  -moz-box-shadow: 0 2px 0 #ddd;
  box-shadow: 0 2px 0 #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
}
div.prompt {
  cursor: pointer;
}
.balloon {
  white-space: normal;
  position: absolute;
  top: -30px;
  background: #fff;
  padding: 8px 12px 8px;
  width: 154px;
  z-index: 1000;
  border: 1px solid #bbb;
  font-size: 13px;
  line-height: 15px;
  vertical-align: baseline;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.3);
}
.balloon.top_left_side .arrow {
  border-color: transparent transparent #ccc transparent;
  top: -24px;
}
.arrow {
  font-size: 0;
  line-height: 0;
  width: 0;
  border-style: solid;
  border-width: 12px;
}
.popover {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 2000;
}
.wait {
  min-width: 14px;
  background: url(../images/dots-white.gif) no-repeat left center !important;
  text-indent: -9999px;
  border: none;
  padding: 0px 15px 0px 15px;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}
table tr th {
  vertical-align: top;
  padding-top: 10px;
  min-width: 65px;
}
button {
  cursor: pointer;
}
