.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}
.bar {
fill: steelblue;
}
.area {
fill: none;
stroke: #1db34f;
stroke-width: 3;
}

.dot {
fill: #1db34f;
stroke: #16873c;
stroke-width: 2px;
}
