body.identifications {
margin: 0 auto;
padding: 0;
font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
font-size: 14px;
color: #222;
background: #e5e5e5;
text-align: center;
}
body.identifications div.wrapper {
background: #e5e5e5;
padding: 40px 23px 20px 30px;
margin: 0 auto;
min-width: 800px;
}
div.wrapper {
background: #e5e5e5;
padding: 12px 23px 0 30px;
margin: 0 auto;
min-width: 800px;
}
body.simple_form div.container {
width: 560px;
}
body.identifications div.container {
width: 600px;
margin: 0 auto;
text-align: left;
}
body:first-of-type.identifications .col {
border: none;
}
body.identifications .col {
padding: 0;
background: #fff;
border: 1px solid #ccc;
text-align: left;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-moz-box-shadow: 0 0 6px #999;
-webkit-box-shadow: 0 0 6px #999;
box-shadow: 0 0 6px #999;
}
body.rsvp div.banner h1 {
line-height: 1.2em;
margin-bottom: 10px;
}
div.banner h1 {
font-size: 20px;
margin-top: 15px;
}
body.simple_form div.banner {
text-align: center;
}
body.identifications div.banner {
padding: 18px 40px 10px 40px;
}
body.simple_form div.banner {
text-align: center;
}
#rsvp_avatar_upload {
position: relative;
margin-bottom: 20px;
}
#rsvp_avatar_upload img.callout {
position: absolute;
top: 24px;
left: 0;
}
#rsvp_avatar_upload div.frame_wrapper {
position: relative;
width: 204px;
margin: 0 auto;
}
#rsvp_avatar_upload div.frame {
border: 1px solid #e5e5e5;
padding: 10px 10px 30px 10px;
-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
font-size: 11px;
}
#rsvp_avatar_upload div.file_input_button {
cursor: pointer;
display: block;
overflow: hidden;
position: absolute;
top: 85px;
width: 180px;
}
#rsvp_avatar_upload div.frame div.photo {
height: 180px;
width: 180px;
border: 1px solid #d9d9d9;
display: block;
background: #e9eef0 url(../images/rsvp_avatar_blank.png) no-repeat scroll center center;
text-align: center;
}
#rsvp_avatar_upload div.file_input_button input[type=file] {
cursor: pointer;
height: 100%;
position: absolute;
right: 0;
top: 0;
filter: alpha(opacity=0.01);
-moz-opacity: 0.01;
opacity: 0.01;
font-size: 100px;
}
#rsvp_avatar_upload div.file_input_button button {
margin: 0 auto;
height: 34px;
width: 139px;
-webkit-appearance: none;
display: block;
text-indent: -9000px;
border: none;
background: url(../images/rsvp_button_upload_photo.png) no-repeat scroll top left;
}
body.simple_form div.pick input[type=text], body.simple_form div.pick input[type=password] {
-webkit-appearance: none;
line-height: 1.0em;
border: 1px solid #d9d9d9;
background-color: white;
padding: 8px 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
font-weight: normal;
font-size: 18px;
width: 328px;
}
body.identity_validation div.validated_field {
margin: -5px -10px 10px -10px;
display: inline-block;
}
body.simple_form div.validated_field {
margin: 0;
padding: 4px 0;
display: block;
}
input.submit {
margin: 10px auto 10px;
padding: 5px 20px;
font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;
font-size: 20px;
color: #fff;
text-shadow: 0 1px 1px rgba(0,0,0,0.2);
background-color: #8fc857;
background-image: -moz-linear-gradient(#8fc857, #5c9425);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8fc857), to(#5c9425));
background-image: -webkit-linear-gradient(#8fc857, #5c9425);
background-image: -ms-linear-gradient(#8fc857, #5c9425);
background-image: linear-gradient(#8fc857, #5c9425);
border: 1px solid #561;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}
.add-icon {
display: inline-block;
padding-left: 28px;
background: url(../images/icon-add.png) 0px 49% no-repeat;
}
.dialog {
position: fixed;
top: 50%;
left: 50%;
width: 400px;
z-index: 9999;
background-color: #ffffff;
border: 1px solid #cccccc;
margin: -100px 0 0 -200px;
border-radius: 4px;
-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 30px rgba(0,0,0,0.5);
box-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.dialog .dialog-wrapper {
padding: 20px 30px;
}
.dialog .dialog-wrapper h3 {
font-size: 24px;
margin: 10px 0 20px 0;
}
.form .form-item {
margin-bottom: 20px;
}
.form .form-item .form-field {
margin-top: 5px;
}
.form .form-item .form-field input{
width: 340px;
font-size: 18px;
line-height: 18px;
height: 26px;
}
.dialog .link-close-dialog {
display: block;
width: 16px;
height: 16px;
background: url(../images/circular_x_black.png) no-repeat 0 0;
text-indent: -9999px;
overflow: hidden;
position: absolute;
top: 20px;
right: 20px;
}
