/*-------------------------------------------------
LOGIN
-------------------------------------------------*/
body {
  background: #f6f7f1 url(bg.png) repeat 0 0;
}
body .wrapper {
  min-width: 1080px;
}
body .wrapper div.sign-page {
  width: 960px;
  margin: 100px auto 0;
}
body .wrapper div.sign-page h1.logo {
  color: #889E98;
  font-size: 50px;
  margin: 0 auto 50px;
}
body .wrapper div.sign-page div {
  width: 318px;
  margin: 0 auto;
  text-align: center;
}
body .wrapper div.sign-page .flash {
  width: 300px;
  margin-bottom: 20px;
}
body .wrapper div.sign-page .bd .btn-submit {
  width: 318px;
  padding: 10px;
  margin: 0;
  border: none;
  background: #95b93d;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
body .wrapper div.sign-page .bd .btn-submit:hover {
  background: #9fc25b;
}
body .wrapper div.sign-page .bd .sign-nav {
  margin: 50px 0 0;
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  background: url(sign-page-line.png) no-repeat 50% 0;
}
body .wrapper div.sign-page .bd div.form-item {
  margin-bottom: 20px;
}
body .wrapper div.sign-page .bd div.form-item .form-field {
  margin: 0;
}
body .wrapper div.sign-page .bd div.form-item .form-field .form-item input[type="email"],
body .wrapper div.sign-page .bd div.form-item .form-field .form-item input[type="password"],
body .wrapper div.sign-page .bd div.form-item .form-field .form-item input[type="text"] {
  width: 300px;
}
body .wrapper div.sign-page .bd div.form-item .form-field input {
  width: 300px;
  padding: 6px 8px;
  border: 1px solid #aaa;
  font-size: 18px;
  height: 30px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc {
  width: 318px;
  margin: 0 auto;
  padding: 15px 0;
  color: #999;
  font-size: 12px;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc a {
  color: #999;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc .forgot-pw {
  float: right;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc #label-remember {
  float: left;
  cursor: pointer;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc:after {
  content: ".";
  clear: both;
  visibility: hidden;
}
