a {
  color: #4298ba;
  text-decoration: none;
}
a:hover {
  color: #0f769f;
}
.btn {
  display: inline-block;
  padding: 6px 10px;
  margin: 0 10px 0 0;
  border: 1px solid transparent;
  color: #fff;
  background-color: #a6bbb6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn.btn-primary:hover {
  background: #9fc25b;
}
.error-message {
  color: #911;
  background-color: #efd0d0;
  background-image: -moz-linear-gradient(#f8d8d8, #efd0d0);
  background-image: -webkit-linear-gradient(#f8d8d8, #efd0d0);
  background-image: linear-gradient(#f8d8d8, #efd0d0);
  background-repeat: repeat-x;
  border-color: #da9797;
}
/*-------------------------------------------------
LOGIN
-------------------------------------------------*/
body {
  background: #f6f7f1 url(../images/bg.png) repeat 0 0;
}
body .wrapper {
  min-width: 1080px;
}
body .wrapper div.sign-page {
  width: 960px;
  margin: 100px auto 0;
}
body .wrapper div.sign-page h1.logo {
  color: #889E98;
  font-size: 50px;
  margin: 0 auto 50px;
}
body .wrapper div.sign-page div {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}
body .wrapper div.sign-page .flash {
  width: 320px;
  margin-bottom: 20px;
}
body .wrapper div.sign-page .bd .btn-submit {
  width: 320px;
  padding: 10px;
  margin: 0;
  border: none;
  background: #95b93d;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
body .wrapper div.sign-page .bd .btn-submit:hover {
  background: #9fc25b;
}
body .wrapper div.sign-page .bd .sign-nav {
  margin: 50px 0 0;
  padding: 20px 0;
  font-size: 14px;
  color: #999;
  background: url(../images/sign-page-line.png) no-repeat 50% 0;
}
body .wrapper div.sign-page .bd div.form-item {
  margin-bottom: 20px;
}
body .wrapper div.sign-page .bd div.form-item .form-field {
  margin: 0;
}
body .wrapper div.sign-page .bd div.form-item .form-field .form-item input[type="email"],
body .wrapper div.sign-page .bd div.form-item .form-field .form-item input[type="password"],
body .wrapper div.sign-page .bd div.form-item .form-field .form-item input[type="text"] {
  width: 320px;
}
body .wrapper div.sign-page .bd div.form-item .form-field input {
  width: 320px;
  padding: 6px 8px;
  border: 1px solid #aaa;
  font-size: 18px;
  height: 40px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
body .wrapper div.sign-page .bd div.form-item .form-field input.op-error {
  border: 1px solid #c21;
  -webkit-box-shadow: 0px 0px 3px rgba(204, 34, 16, 0.5);
  -moz-box-shadow: 0px 0px 3px rgba(204, 34, 16, 0.5);
  box-shadow: 0px 0px 3px rgba(204, 34, 16, 0.5);
}
body .wrapper div.sign-page .bd div.form-item .form-field input.op-error::-webkit-input-placeholder {
  /* WebKit browsers */

  color: red;
}
body .wrapper div.sign-page .bd div.form-item .form-field input.op-error:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #999;
}
body .wrapper div.sign-page .bd div.form-item .form-field input.op-error::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #999;
}
body .wrapper div.sign-page .bd div.form-item .form-field input.op-error:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #999;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc {
  width: 320px;
  margin: 0 auto;
  padding: 15px 0;
  color: #999;
  font-size: 12px;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc a {
  color: #999;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc .forgot-pw {
  float: right;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc #label-remember {
  float: left;
  cursor: pointer;
}
body .wrapper div.sign-page .bd .sign-in-btn .desc:after {
  content: ".";
  clear: both;
  visibility: hidden;
}
body .wrapper div.sign-page .ft {
  margin-top: 50px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
}
