{% extends "../base.html" %}

{% block title %}MyTask{% end %}

{% block bodyClass %}topnav_everything{% end %}
{% block body%}
    <div class="container flat_container" >
        <div class="panel timeline " >
            <title>Daily Progress</title>
            <section class="global_activity">
                <h1>岁月匆匆，往事不随风</h1>
                <section class="stream" id="operations">
                </section>
            </section>
        </div>
        <div id="wait">
            <span class="wait" style="width: 20px; height: 20px; margin: auto; padding: 0px;"></span>
        </div>
    </div>
<script>
    var teamId = {{teamId}}
</script>
{% end %}

